<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta name="referrer" content="no-referrer" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>模拟试题 </title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/back/images/favicon.png">
    <link rel="stylesheet" href="/back/vendor/bootstrap-select/dist/css/bootstrap-select.min.css">
    <link href="/css/style.css" rel="stylesheet"/>
    <!-- Datatable -->
    <link href="/back/vendor/datatables/css/jquery.dataTables.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/back/css/style.css">

</head>

<body>

<!--*******************
    Preloader start
********************-->
<div id="preloader">
    <div class="sk-three-bounce">
        <div class="sk-child sk-bounce1"></div>
        <div class="sk-child sk-bounce2"></div>
        <div class="sk-child sk-bounce3"></div>
    </div>
</div>
<!--*******************
    Preloader end
********************-->

<!--**********************************
    Main wrapper start
***********************************-->
<div id="main-wrapper">

    <!--**********************************
        侧边栏头部
    ***********************************-->
    <div th:replace="menu::navHeader"></div>

    <!--**********************************
        头部
    ***********************************-->
    <div th:replace="menu::myheader"></div>

    <!--**********************************
        后端侧边栏
    ***********************************-->
    <div th:replace="menu::mymenu">	</div>
    <!--**********************************
        Sidebar end
    ***********************************-->



    <!--**********************************
        Content body start
    ***********************************-->
    <div class="content-body">
        <!-- row -->
        <div class="container-fluid">

            <div class="row page-titles mx-0">
                <div class="col-sm-6 p-md-0">
                    <div class="welcome-text">
                        <h4>模拟试题 </h4>
                    </div>
                </div>
                <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/back/index">主页</a></li>
                        <li class="breadcrumb-item active"><a href="javascript:void(0);">模拟试题</a></li>
                        <li class="breadcrumb-item active"><a href="javascript:void(0);">所有试题</a></li>
                    </ol>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <ul class="nav nav-pills mb-3">
                        <li class="nav-item"><a href="#list-view" data-toggle="tab" class="nav-link btn-primary mr-1 show active">列表视图</a></li>
                        <li class="nav-item"><a href="#grid-view" data-toggle="tab" class="nav-link btn-primary">网格视图</a></li>
                    </ul>
                </div>
                <div class="col-lg-12">
                    <div class="row tab-content">
                        <div id="list-view" class="tab-pane fade active show col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">试题列表 </h4>
                                    <a href="/back/adduser" class="btn btn-primary">+ 添加试题</a>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table id="example3" class="display" style="min-width: 845px">
                                            <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th style="min-width: 100px">教材</th>
                                                    <th style="min-width: 250px">题目</th>
                                                    <th style="min-width: 150px">选项</th>
                                                    <th style="min-width: 80px">答案链接</th>
                                                    <th style="min-width: 150px">考点</th>
                                                    <th>难度</th>
                                                    <th>时间</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr th:each="issuesList:${issuesList.list}">
                                                    <td th:text="${issuesList.shitiId}"></td>
                                                    <td th:text="${issuesList.jiaocaiName}"></td>
                                                    <td th:utext="${issuesList.shitiTimu}"></td>
                                                    <td th:utext="${issuesList.shitiOption}"></td>
                                                    <td><a target="_blank" th:href="${issuesList.shitiDaanHref}">查看答案</a></td>
                                                    <td th:utext="${issuesList.shitiKaodian}"></td>
                                                    <td th:text="${issuesList.shitiHard}"><a href="javascript:void(0);"><strong></strong></a></td>
                                                    <td th:text="${issuesList.shitiTime}"><a href="javascript:void(0);"><strong></strong></a></td>
                                                    <td>
                                                        <a th:href="@{'/back/deleteIssues/'+${issuesList.shitiId}}" class="btn btn-sm btn-danger"><i class="la la-trash-o"></i></a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <!--分页-->
                                    <div class="styled-pagination text-center" style="margin-top: 20px">
                                        <nav aria-label="Page navigation text-center">
                                            <ul class="pagination">
                                                <li>
                                                    <a th:href="@{/back/backIssues(pageIndex=${issuesList.pageNum-1},pageSize=6)}" aria-label="Previous">
                                                        <span aria-hidden="true">&laquo;</span>
                                                    </a>
                                                </li>
                                                <th:block th:each="nav:${issuesList.navigatepageNums}">
                                                    <li th:class="${nav==issuesList.pageNum}?'active':''">
                                                        <a th:href="@{/back/backIssues(pageIndex=${nav},pageSize=6)}" th:text="${nav}"></a>
                                                    </li>
                                                </th:block>
                                                <li>
                                                    <a th:href="@{/back/backIssues(pageIndex=${issuesList.pageNum+1},pageSize=6)}" aria-label="Next">
                                                        <span aria-hidden="true">&raquo;</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>


                                </div>
                            </div>
                        </div>
                        <!--网格视图-->
                        <div id="grid-view" class="tab-pane fade col-lg-12">
                            <div class="row">
                                <div class="col-lg-4 col-md-6 col-sm-6 col-12" th:each="issuesList:${issuesList.list}">
                                    <div class="card card-profile">
                                        <div class="card-header justify-content-end pb-0">
                                            <div class="dropdown">
                                                <button class="btn btn-link" type="button" data-toggle="dropdown">
                                                    <span class="dropdown-dots fs--1"></span>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-right border py-0">
                                                    <div class="py-2">
                                                        <a class="dropdown-item" href="javascript:void(0);">编辑</a>
                                                        <a class="dropdown-item text-danger" href="javascript:void(0);">删除</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body pt-2">
                                            <div class="text-center">
                                                <div class="profile-photo">
                                                    <!--题目内容-->
                                                </div>
                                                <h4 class="mt-4 mb-1" th:utext="${issuesList.shitiTimu}"></h4>
                                                <p style="font-size: medium" class="text-muted" th:utext="${issuesList.shitiOption}"></p>
                                                <ul class="list-group mb-3 list-group-flush">
                                                    <li class="list-group-item px-0 d-flex justify-content-between">
                                                        <span class="mb-0">考点: </span>
                                                        <strong><span th:utext="${issuesList.shitiKaodian}"></span></strong>
                                                    </li>
                                                </ul>
                                                <a class="btn btn-outline-primary btn-rounded mt-3 px-4" target="_blank" th:href="${issuesList.shitiDaanHref}">查看答案 </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--**********************************
        Content body end
    ***********************************-->


    <!--**********************************
        底部
    ***********************************-->
    <div class="footer">
        <div th:replace="menu::backfooter"></div>
    </div>

</div>
<!--**********************************
    Main wrapper end
***********************************-->

<!--**********************************
    Scripts
***********************************-->
<!-- Required vendors -->
<script src="/back/vendor/global/global.min.js"></script>
<script src="/back/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
<script src="/back/js/custom.min.js"></script>
<script src="/back/js/dlabnav-init.js"></script>

<!-- Datatable -->
<script src="/back/vendor/datatables/js/jquery.dataTables.min.js"></script>
<script src="/back/js/plugins-init/datatables.init.js"></script>

<!-- Svganimation scripts -->
<script src="/back/vendor/svganimation/vivus.min.js"></script>
<script src="/back/vendor/svganimation/svg.animation.js"></script>
<script src="/back/js/styleSwitcher.js"></script>

</body>
</html>