<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
	
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>用户 </title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/back/images/favicon.png">
    <link rel="stylesheet" href="/back/vendor/bootstrap-select/dist/css/bootstrap-select.min.css">
	<!-- Datatable -->
    <link href="/back/vendor/datatables/css/jquery.dataTables.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/back/css/style.css">

</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->

    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

		<!--**********************************
            侧边栏头部
        ***********************************-->
		<div th:replace="menu::navHeader"></div>

        <!--**********************************
            头部
        ***********************************-->
        <div th:replace="menu::myheader"></div>

        <!--**********************************
            侧边栏
        ***********************************-->
        <div th:replace="menu::mymenu">	</div>
        <!--**********************************
            Sidebar end
        ***********************************-->

		
		
        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <!-- row -->
            <div class="container-fluid">
				    
				<div class="row page-titles mx-0">
                    <div class="col-sm-6 p-md-0">
                        <div class="welcome-text">
                            <h4>用户 </h4>
                        </div>
                    </div>
                    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/back/index">主页</a></li>
                            <li class="breadcrumb-item active"><a href="javascript:void(0);">用户</a></li>
                            <li class="breadcrumb-item active"><a href="javascript:void(0);">所有用户</a></li>
                        </ol>
                    </div>
                </div>
				
				<div class="row">
					<div class="col-lg-12">
						<ul class="nav nav-pills mb-3">
							<li class="nav-item"><a href="#list-view" data-toggle="tab" class="nav-link btn-primary mr-1 show active">列表视图</a></li>
							<li class="nav-item"><a href="#grid-view" data-toggle="tab" class="nav-link btn-primary">网格视图</a></li>
						</ul>
					</div>
					<div class="col-lg-12">
						<div class="row tab-content">
							<div id="list-view" class="tab-pane fade active show col-lg-12">
								<div class="card">
									<div class="card-header">
										<h4 class="card-title">用户列表  </h4>
										<a href="/back/adduser" class="btn btn-primary">+ 添加用户</a>
									</div>
									<div class="card-body">
										<div class="table-responsive">
											<table id="example3" class="display" style="min-width: 845px">
												<thead>
													<tr>
														<th style="min-width: 50px">头像</th>
														<th style="min-width: 50px">序号</th>
														<th style="min-width: 80px">昵称</th>
														<th style="min-width: 80px">学历</th>
														<th style="min-width: 100px">学校</th>
														<th style="min-width: 80px">年级</th>
														<th>电话号码</th>
														<th>邮箱</th>
														<th style="min-width: 150px">登录时间</th>
														<th style="min-width: 80px">操作</th>
													</tr>
												</thead>
												<tbody>
													<tr th:each="userInfo:${usrInfo}">
														<td><img class="rounded-circle" width="35" th:src="${userInfo.user_img}" alt=""></td>
														<td th:text="${userInfo.userid}"><strong>01</strong></td>
														<td th:text="${userInfo.username}"></td>
														<td th:text="${userInfo.education}"></td>
														<td th:text="${userInfo.school}"></td>
														<td th:text="${userInfo.grade}"></td>
														<td th:text="${userInfo.phone}"><a href="javascript:void(0);"><strong>123 456 789</strong></a></td>
														<td th:text="${userInfo.email}"><a href="javascript:void(0);"><strong>info@example.com</strong></a></td>
														<td th:text="${#dates.format(userInfo.creatDate,'yyyy/MM/dd HH:mm:ss')}">2011/04/25</td>
														<td>
															<a th:href="@{'/back/edituser/'+${userInfo.userid}}" class="btn btn-sm btn-primary"><i class="la la-pencil"></i></a>
															<a th:href="@{'/back/delete/'+${userInfo.userid}}" class="btn btn-sm btn-danger"><i class="la la-trash-o"></i></a>
														</td>												
													</tr>
												</tbody>
											</table>
										</div>
									</div>
                                </div>
                            </div>
							<div id="grid-view" class="tab-pane fade col-lg-12">
								<div class="row">
									<div class="col-lg-4 col-md-6 col-sm-6 col-12" th:each="userInfo:${usrInfo}">
										<div class="card card-profile">
											<div class="card-header justify-content-end pb-0">
												<div class="dropdown">
													<button class="btn btn-link" type="button" data-toggle="dropdown">
														<span class="dropdown-dots fs--1"></span>
													</button>
													<div class="dropdown-menu dropdown-menu-right border py-0">
														<div class="py-2">
															<a class="dropdown-item" href="javascript:void(0);">编辑</a>
															<a class="dropdown-item text-danger" href="javascript:void(0);">删除</a>
														</div>
													</div>
												</div>
											</div>
											<div class="card-body pt-2">
												<div class="text-center">
													<div class="profile-photo">
														<img th:src="${userInfo.user_img}" width="100" class="img-fluid rounded-circle" alt="">
													</div>
													<h3 class="mt-4 mb-1" th:text="${userInfo.username}"></h3>
													<p class="text-muted" th:text="${userInfo.education}">本科</p>
													<ul class="list-group mb-3 list-group-flush">
														<li class="list-group-item px-0 d-flex justify-content-between">
															<span>编号. :</span><strong><span th:text="${userInfo.userid}">02</span></strong></li>
														<li class="list-group-item px-0 d-flex justify-content-between">
															<span class="mb-0">电话号码. :</span><strong><span th:text="${userInfo.phone}">+01 123 456 7890</span></strong></li>
														<li class="list-group-item px-0 d-flex justify-content-between">
															<span class="mb-0">登录时间. :</span><strong><span th:text="${#dates.format(userInfo.creatDate,'yyyy/MM/dd HH:mm:ss')}">01 July 2020</span></strong></li>
														<li class="list-group-item px-0 d-flex justify-content-between">
															<span class="mb-0">邮箱. </span><strong><span th:text="${userInfo.email}">info@example.com</span></strong></li>
													</ul>
<!--													<a class="btn btn-outline-primary btn-rounded mt-3 px-4" href="about-student.html">Read More</a>-->
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			   
            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->


        <!--**********************************
            底部
        ***********************************-->
        <div class="footer">
            <div th:replace="menu::backfooter"></div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->

		<!--**********************************
           Support ticket button start
        ***********************************-->

        <!--**********************************
           Support ticket button end
        ***********************************-->

    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="/back/vendor/global/global.min.js"></script>
	<script src="/back/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="/back/js/custom.min.js"></script>
    <script src="/back/js/dlabnav-init.js"></script>	
	
	<!-- Datatable -->
    <script src="/back/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="/back/js/plugins-init/datatables.init.js"></script>
	
    <!-- Svganimation scripts -->
    <script src="/back/vendor/svganimation/vivus.min.js"></script>
    <script src="/back/vendor/svganimation/svg.animation.js"></script>
    <script src="/back/js/styleSwitcher.js"></script>
	
</body>
</html>