<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8">
<title>高考资讯</title>
<!-- Stylesheets -->
<link href="/css/bootstrap.css" rel="stylesheet">
<link href="/css/style.css" rel="stylesheet">
<link href="/css/responsive.css" rel="stylesheet">

<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

<link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
<link rel="icon" href="/images/favicon.png" type="image/x-icon">

<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
<!--[if lt IE 9]><script src="/js/respond.js"></script><![endif]-->
</head>

<body class="hidden-bar-wrapper">

<div class="page-wrapper">
 	
    <!-- Preloader -->
    <div class="preloader"></div>

	<!-- 头部-->
	<header class="main-header">
		<div th:replace="menu::indexmenu"></div>
	</header>
	
	<!-- Sidebar Cart Item -->
	<div class="xs-sidebar-group info-group">
		<div class="xs-overlay xs-bg-black"></div>
		<div class="xs-sidebar-widget">
			<div class="sidebar-widget-container">
				<div class="widget-heading">
					<a href="#" class="close-side-widget">
						X
					</a>
				</div>
				<div class="sidebar-textwidget">
					
					<!-- Sidebar Info Content -->
					<div class="sidebar-info-contents">
						<div class="content-inner">
							<div class="logo">
								<a href="index-1.html"><img src="/images/logo-2.png" alt="" /></a>
							</div>
							<div class="content-box">
								<h2>About Us</h2>
								<p class="text">The argument in favor of using filler text goes something like this: If you use real content in the Consulting Process, anytime you reach a review point you’ll end up reviewing and negotiating the content itself and not the design.</p>
								<a href="#" class="theme-btn btn-style-two"><span class="txt">Consultation</span></a>
							</div>
							<div class="contact-info">
								<h2>Contact Info</h2>
								<ul class="list-style-two">
									<li><span class="icon fa fa-location-arrow"></span>Chicago 12, Melborne City, USA</li>
									<li><span class="icon fa fa-phone"></span>(111) 111-111-1111</li>
									<li><span class="icon fa fa-envelope"></span><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="fb979e999a8992bb9c969a9297d5989496">[email&#160;protected]</a></li>
									<li><span class="icon fa fa-clock-o"></span>Week Days: 09.00 to 18.00 Sunday: Closed</li>
								</ul>
							</div>
							<!-- Social Box -->
							<ul class="social-box">
								<li class="facebook"><a href="#" class="fa fa-facebook-f"></a></li>
								<li class="twitter"><a href="#" class="fa fa-twitter"></a></li>
								<li class="linkedin"><a href="#" class="fa fa-linkedin"></a></li>
								<li class="instagram"><a href="#" class="fa fa-instagram"></a></li>
								<li class="youtube"><a href="#" class="fa fa-youtube"></a></li>
							</ul>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
	<!-- END sidebar widget item -->
	
	<!-- Blog Detail Section / Style Two -->
    <section class="blog-page-section style-two">
		<div class="pattern-layer-one" style="background-image: url(images/icons/icon-5.png)"></div>
		<div class="pattern-layer-two" style="background-image: url(images/icons/icon-6.png)"></div>
		<div class="pattern-layer-three" style="background-image: url(images/icons/icon-4.png)"></div>
		<div class="auto-container">
			<!-- Page Breadcrumb -->
			<ul class="page-breadcrumb">
				<li><a href="/gaokaozixun/zixunall">高考资讯</a></li>
				<li>资讯列表</li>
			</ul>
			<div class="content-box">
				<h2>详细列表</h2>
			</div>
		</div>
	</section>
	<!-- End Blog Page Section -->
	
	<!--Sidebar Page Container-->
    <div class="sidebar-page-container">
    	<div class="auto-container">
        	<div class="row clearfix">
				
				<!-- Content Side -->
                <div class="content-side col-lg-9 col-md-12 col-sm-12">
                	<div class="blog-classic" th:each="gk:${Gk.list}">
						
						<!-- News Block Two -->
						<div class="news-block-two" style="padding-top: 50px">
							<div class="inner-box">
								<div class="image">
									<a href="blog-detail.html"><img th:src="${gk.imgsrc}" alt="" /></a>
								</div>
								<div class="lower-content">
									<ul class="post-info">
										<li><a href="blog-detail.html"><span class="icon fa fa-bookmark-o"></span>Education, teach</a></li>
									</ul>
									<h2><a th:href="@{/gaokaozixun/zixundetail(zixunId=${gk.zixunId})}" th:text="${gk.zixunTitle}">Interior Design Principles and Elements</a></h2>
<!--									<div class="text">了解更多</div>-->
								</div>
							</div>


						</div>
					</div>
					<div class="styled-pagination-two">
						<ul class="clearfix">
							<li > <!-- zixunType=${zixunType}, -->
								<a th:href="@{/gaokaozixun/zixunlist/(type=${typename},pageIndex=${Gk.pageNum-1},pageSize=6)}" aria-label="Previous"><span aria-hidden="true">&laquo;</span>
								</a>
							</li>
							<th:block th:each="nav:${Gk.navigatepageNums}">
								<li th:class="${nav==Gk.pageNum}?'active':''">
									<a th:href="@{/gaokaozixun/zixunlist/(type=${typename},pageIndex=${nav},pageSize=6)}" th:text="${nav}"></a>
								</li>
							</th:block>
							<li >
								<a th:href="@{/gaokaozixun/zixunlist/(type=${typename},pageIndex=${Gk.pageNum+1},pageSize=6)}" aria-label="Next"><span aria-hidden="true">&raquo;</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
				
				<!-- Sidebar Side -->
                <div class="sidebar-side col-lg-3 col-md-12 col-sm-12">
                	<aside class="sidebar sticky-top">


						
						<!-- Links Widget -->
						<div class="sidebar-widget links-widget">
							<div class="sidebar-title">
								<h4>高考政策栏</h4>
							</div>
							<div class="widget-content">
								<ul class="blog-cat">
									<li><a href="/gaokaozixun/zixunlist/?type=录取查询">录取查询 (197)</a></li>
									<li><a href="/gaokaozixun/zixunlist/?type=高考状元">高考状元  (224)</a></li>
									<li><a href="/gaokaozixun/zixunlist/?type=高考大纲">高考大纲 (124)</a></li>
									<li><a href="/gaokaozixun/zixunlist/?type=成绩查询">成绩查询 (224)</a></li>
									<li><a href="/gaokaozixun/zixunlist/?type=高考报名">高考报名 (224)</a></li>
									<li><a href="/gaokaozixun/zixunlist/?type=高考时间">高考时间 (224)</a></li>
									<li><a href="/gaokaozixun/zixunlist/?type=高考体检">高考体检 (183)</a></li>
									<li><a href="/gaokaozixun/zixunlist/?type=强基计划">强基计划 (125)</a></li>
									<li><a href="/gaokaozixun/zixunlist/?type=高考政策">高考政策 (223)</a></li>
									<li><a href="/gaokaozixun/zixunlist/?type=高考新闻">高考新闻 (223)</a></li>
									<li><a href="/gaokaozixun/zixunlist/?type=高考分数线">高考分数线 (224)</a></li>
								</ul>
							</div>
						</div>
						
						<!-- Archive Widget -->

					</aside>
				</div>
			</div>
		</div>
	</div>

	<!-- 底部 -->
	<footer class="main-footer">
		<div th:replace="menu::indexfooter"></div>
	</footer>
</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-arrow-up"></span></div>

<script src="/js/jquery.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="/js/jquery.fancybox.js"></script>
<script src="/js/appear.js"></script>
<script src="/js/parallax.min.js"></script>
<script src="/js/tilt.jquery.min.js"></script>
<script src="/js/jquery.paroller.min.js"></script>
<script src="/js/owl.js"></script>
<script src="/js/wow.js"></script>
<script src="/js/nav-tool.js"></script>
<script src="/js/jquery-ui.js"></script>
<script src="/js/script.js"></script>

</body>
</html>