<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8">
	<title>高考资讯</title>
	<!-- Stylesheets -->
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/style.css" rel="stylesheet">
	<link href="/css/responsive.css" rel="stylesheet">

	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

	<link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
	<link rel="icon" href="/images/favicon.png" type="image/x-icon">

	<!-- Responsive -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

	<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
	<!--[if lt IE 9]><script src="/js/respond.js"></script><![endif]-->
</head>

<body class="hidden-bar-wrapper">

<div class="page-wrapper">

	<!-- Preloader -->
	<div class="preloader"></div>

	<!-- 头部-->
	<header class="main-header">
		<div th:replace="menu::indexmenu"></div>
	</header>

	<!-- Sidebar Cart Item -->
	<div class="xs-sidebar-group info-group">
		<div class="xs-overlay xs-bg-black"></div>
		<div class="xs-sidebar-widget">
			<div class="sidebar-widget-container">
				<div class="widget-heading">
					<a href="#" class="close-side-widget">
						X
					</a>
				</div>
				<div class="sidebar-textwidget">

					<!-- Sidebar Info Content -->
					<div class="sidebar-info-contents">
						<div class="content-inner">
							<div class="logo">
								<a href="index.html"><img src="/images/logo-2.png" alt="" /></a>
							</div>
							<div class="content-box">
								<h2>About Us</h2>
								<p class="text">The argument in favor of using filler text goes something like this: If you use real content in the Consulting Process, anytime you reach a review point you’ll end up reviewing and negotiating the content itself and not the design.</p>
								<a href="#" class="theme-btn btn-style-two"><span class="txt">Consultation</span></a>
							</div>
							<div class="contact-info">
								<h2>Contact Info</h2>
								<ul class="list-style-two">
									<li><span class="icon fa fa-location-arrow"></span>Chicago 12, Melborne City, USA</li>
									<li><span class="icon fa fa-phone"></span>(111) 111-111-1111</li>
									<li><span class="icon fa fa-envelope"></span><a href="cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="1478717675667d547379757d783a777b79">[email&#160;protected]</a></li>
									<li><span class="icon fa fa-clock-o"></span>Week Days: 09.00 to 18.00 Sunday: Closed</li>
								</ul>
							</div>
							<!-- Social Box -->
							<ul class="social-box">
								<li class="facebook"><a href="#" class="fa fa-facebook-f"></a></li>
								<li class="twitter"><a href="#" class="fa fa-twitter"></a></li>
								<li class="linkedin"><a href="#" class="fa fa-linkedin"></a></li>
								<li class="instagram"><a href="#" class="fa fa-instagram"></a></li>
								<li class="youtube"><a href="#" class="fa fa-youtube"></a></li>
							</ul>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	<!-- END sidebar widget item -->

	<!-- Blog Detail Section -->
	<section class="blog-page-section">
		<div class="pattern-layer-one" style="background-image: url(/images/icons/icon-5.png)"></div>
		<div class="pattern-layer-two" style="background-image: url(/images/icons/icon-6.png)"></div>
		<div class="pattern-layer-three" style="background-image: url(/images/icons/icon-4.png)"></div>
		<div class="auto-container">
			<!-- Page Breadcrumb -->
			<ul class="page-breadcrumb">
				<li><a href="index.html">Home</a></li>
				<li>Blog default</li>
			</ul>
			<div class="content-box">
				<h2>高考最新资讯</h2>
				<div class="text">高考最新资讯 政策、新闻、分数线抢先看 </div>
			</div>
		</div>
		<div class="outer-container">
			<div class="row clearfix">
				<!-- News Block / Style Two -->
				<div class="news-block style-two col-lg-4 col-md-6 col-sm-12" th:each="Des:${Des}">
					<div class="inner-box">
						<div class="image">
							<a><img th:src="${Des.imgsrc}" alt="" /></a>
						</div>
						<div class="lower-content">
							<div class="border-layer"></div>
							<ul class="post-info">
								<li>education</li>
								<li>Updated  May 17, 2021</li>
							</ul>
							<h4><a th:text="${Des.zixunType}">高考政策 <br></a></h4>
							<h5><a th:text="${Des.description}" class="more"> 新高考怎么办？</a></h5>
							<a th:href="@{'/gaokaozixun/zixunlist/'+${Des.zixunType}}" class="more">More <span class="fa fa-angle-double-right"></span></a>
						</div>
					</div>
				</div>
			</div>
			<!-- Button Box -->
			<div class="btn-box text-center">
				<a href="#" class="theme-btn btn-style-five">更多资讯</a>
			</div>
		</div>
	</section>
	<!-- End Cource Detail Banner Section -->

	<!-- 底部 -->
	<footer class="main-footer">
		<div th:replace="menu::indexfooter"></div>
	</footer>
</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-arrow-up"></span></div>

<script src="/js/jquery.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="/js/jquery.fancybox.js"></script>
<script src="/js/appear.js"></script>
<script src="/js/parallax.min.js"></script>
<script src="/js/tilt.jquery.min.js"></script>
<script src="/js/jquery.paroller.min.js"></script>
<script src="/js/owl.js"></script>
<script src="/js/wow.js"></script>
<script src="/js/nav-tool.js"></script>
<script src="/js/jquery-ui.js"></script>
<script src="/js/script.js"></script>

</body>
</html>