<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"><script src="/js/echarts.min.js"></script>
    <title>可视化展示</title>
    <!-- Stylesheets -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/responsive.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
    <link rel="icon" href="/images/favicon.png" type="image/x-icon">

    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="/js/respond.js"></script><![endif]-->


</head>

<body class="hidden-bar-wrapper">

<div class="page-wrapper">

    <!-- Preloader -->
    <div class="preloader"></div>


    <!-- 头部-->
    <header class="main-header">
        <div th:replace="menu::indexmenu"></div>
    </header>

    <!-- Main Header / Header Style Two -->
    <!-- End Main Header -->

    <!-- Sidebar Cart Item -->
    <div class="xs-sidebar-group info-group">
        <div class="xs-overlay xs-bg-black"></div>
        <div class="xs-sidebar-widget">
            <div class="sidebar-widget-container">
                <div class="widget-heading">
                    <a href="#" class="close-side-widget">
                        X
                    </a>
                </div>
                <div class="sidebar-textwidget">

                    <!-- Sidebar Info Content -->
                    <div class="sidebar-info-contents">
                        <div class="content-inner">
                            <div class="logo">
                                <a href="index.html"><img src="/images/logo-2.png" alt="" /></a>
                            </div>
                            <div class="content-box">
                                <h2>About Us</h2>
                                <p class="text">The argument in favor of using filler text goes something like this: If you use real content in the Consulting Process, anytime you reach a review point you’ll end up reviewing and negotiating the content itself and not the design.</p>
                                <a href="#" class="theme-btn btn-style-two"><span class="txt">Consultation</span></a>
                            </div>
                            <div class="contact-info">
                                <h2>Contact Info</h2>
                                <ul class="list-style-two">
                                    <li><span class="icon fa fa-location-arrow"></span>Chicago 12, Melborne City, USA</li>
                                    <li><span class="icon fa fa-phone"></span>(111) 111-111-1111</li>
                                    <li><span class="icon fa fa-envelope"></span><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="7e121b1c1f0c173e19131f1712501d1113">[email&#160;protected]</a></li>
                                    <li><span class="icon fa fa-clock-o"></span>Week Days: 09.00 to 18.00 Sunday: Closed</li>
                                </ul>
                            </div>
                            <!-- Social Box -->
                            <ul class="social-box">
                                <li class="facebook"><a href="#" class="fa fa-facebook-f"></a></li>
                                <li class="twitter"><a href="#" class="fa fa-twitter"></a></li>
                                <li class="linkedin"><a href="#" class="fa fa-linkedin"></a></li>
                                <li class="instagram"><a href="#" class="fa fa-instagram"></a></li>
                                <li class="youtube"><a href="#" class="fa fa-youtube"></a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- END sidebar widget item -->

    <!-- Banner Section Three -->
    <section class="banner-section-three">
        <div class="pattern-layer-two" style="background-image: url(images/background/pattern-21.png)"></div>
        <div class="auto-container">
            <!-- Page Breadcrumb -->
            <ul class="page-breadcrumb">
                <li><a href="/main/index">主页</a></li>
                <li>思维导图</li>
            </ul>

        </div>
    </section>
    <!-- End Banner Section Three -->


    <!-- Contact Section -->
    <section class="contact-section">
        <div class="pattern-layer" style="background-image:url(images/background/pattern-19.png)"></div>
        <div class="pattern-layer-two" style="background-image:url(images/background/pattern-20.png)"></div>
        <div class="icon-layer-two" style="background-image:url(images/icons/icon-2.png)"></div>
        <div class="icon-layer-three" style="background-image:url(images/icons/icon-2.png)"></div>
        <div class="auto-container">
            <div class="row clearfix">

                <!-- Info Column -->
                <div class="info-column col-lg-4 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <div class="icon-layer" style="background-image:url(images/icons/icon-2.png)"></div>
                        <div class="image">
                            <img src="/images/resource/contact.png" alt="" />
                        </div>




                        <!--这是数据可视化的代码-->
                        <div class="container" id="main" style="width: 2000px;height: 2000px;"></div>
                        <script type="text/javascript" th:inline="javascript">

                            var myChart = echarts.init(document.getElementById('main'));
                            myChart.showLoading();

                            var data = {
                                "name": "化学选修5",
                                "children": [
                                    {
                                        "name": "第一章 认识有机化合物",
                                        "children": [
                                            {"name": "1.2 有机物按官能团的分类"},
                                            {"name": "2.2 结构简式"},
                                            {"name": "2.3 有机物分子的空间构型"},
                                            {"name": "2.4 键长、键角和键能"},
                                            {"name": "2.5 碳碳键的类型和有机化合物分子的空间构型"},
                                            {"name": "2.6 sp、sp2、sp3杂化"},
                                            {"name": "2.7 球棍模型"},
                                            {"name": "2.8 比例模型"},
                                            {"name": "2.9 分子式"},
                                            {"name": "3.1 有机化合物的命名"},
                                            {"name": "3.2 烷烃的命名"},
                                            {"name": "3.3 烯烃的命名"},
                                            {"name": "3.4 炔烃的命名"},
                                            {"name": "3.5 苯的同系物的命名"},
                                            {"name": "3.6 有机物名称的书写"},
                                            {"name": "4.3 测定相对分子质量确定分子式"},
                                            {"name": "4.4 波谱分析确定结构式"},
                                            {"name": "4.6 工业乙醇的蒸馏"},
                                            {"name": "4.7 重结晶"},
                                            {"name": "4.8 苯甲酸的重结晶"},
                                            {"name": "4.12 相对分子质量的测定——质谱法"},
                                            {"name": "4.13 红外光谱鉴定有机物"},

                                            {"name": "4.14 核磁共振氢谱鉴定有机物"}
                                        ]
                                    },
                                    {
                                        "name": "第二章 烃和卤代烃",
                                        "children": [

                                            {"name": "1.2 烯烃的通式"},
                                            {"name": "1.3 烷烃的通性"},
                                            {"name": "1.4 烯烃的通性"},
                                            {"name": "1.7 聚合反应"},
                                            {"name": "1.8 烯烃的顺反异构"},
                                            {"name": "1.9 炔烃的通式"},
                                            {"name": "1.10 乙炔的结构与性质"},
                                            {"name": "1.11 乙炔的制取"},
                                            {"name": "1.12 炔烃的通性"},
                                            {"name": "1.13 脂肪烃的来源及其应用"},
                                            {"name": "2.1 芳香烃的结构与性质"},
                                            {"name": "2.3 苯的同系物"},
                                            {"name": "3.1 卤代烃"},
                                            {"name": "3.2 卤代烃的性质"},
                                            {"name": "3.3 消去反应"},
                                            {"name": "3.4 臭氧层保护"}
                                        ]
                                    },
                                    {
                                        "name": "第三章 烃的含氧衍生物",
                                        "children": [
                                            {"name": "1.1 醇的通性"},
                                            {"name": "1.5 还原反应"},
                                            {"name": "1.6 酚的通性"},
                                            {"name": "1.7 苯酚的结构与性质"},
                                            {"name": "2.1 醛的通性"},
                                            {"name": "2.2 乙醛的结构与性质"},
                                            {"name": "2.3 银镜反应"},
                                            {"name": "3.1 羧酸的通性"},
                                            {"name": "3.5 乙酸乙酯的制备"},
                                            {"name": "4.1 有机物的合成"}
                                        ]
                                    },
                                    {
                                        "name": "第四章 生命中的基础有机化学物质",
                                        "children": [
                                            {"name": "2.1 糖类的定义"},
                                            {"name": "2.3 果糖"},
                                            {"name": "2.4 分子的手性"},
                                            {"name": "2.5 手性碳原子"},
                                            {"name": "3.3 氨基酸的结构与性质"},
                                            {"name": "3.6 酶"},
                                            {"name": "3.7 核酸"}
                                        ]
                                    },
                                    {
                                        "name": "第五章 进入合成有机高分子化合物的时代",
                                        "children": [
                                            {"name": "1.2 聚合物"},
                                            {"name": "1.3 聚合物的单体"},
                                            {"name": "2.1 塑料"},
                                            {"name": "2.2 聚乙烯"},
                                            {"name": "2.3 酚醛树脂"},
                                            {"name": "2.7 可降解高分子材料"},
                                            {"name": "3.1 生活中的其他材料及应用（纳米材料、功能高分子材料等）"}
                                        ]
                                    },

                                ]
                            };

                            var data2 = {
                                "name": "化学选修6",
                                "children": [
                                    {
                                        "name": "第一章 从实验走进化学",
                                        "children": [
                                            {"name": "1.2 保证实验安全"},
                                            {"name": "2.2 尾气的吸收"}
                                        ]
                                    },
                                    {
                                        "name": "第二章 物质的获取",
                                        "children": [
                                            {"name": "1.1 渗析"},
                                            {"name": "1.5 海带、海藻中提取碘"},
                                            {"name": "1.6 物质的分离和提纯"},
                                            {"name": "2.1 乙酰水杨酸的制备"},
                                            {"name": "2.2 硝酸铜的制备"},
                                            {"name": "2.3 硫酸亚铁铵的制备"}

                                        ]
                                    },
                                    {
                                        "name": "第三章 物质的检测",
                                        "children": [
                                            {"name": "1.1 气体的检验"},
                                            {"name": "1.3 其他物质的检验"},
                                            {"name": "1.7 仪器分析"},
                                            {"name": "2.1 测定物质组成、成分含量"},
                                            {"name": "2.4 比色法"}
                                        ]
                                    },
                                    {
                                        "name": "第四章 研究型实验",
                                        "children": [
                                            {"name": "1.1 物质性质的研究"},
                                            {"name": "2.1 身边化学问题的探究"},
                                            {"name": "3.1 设计实验方案及探究实验"}

                                ]
                            };

                            myChart.hideLoading();

                            myChart.setOption(option = {
                                tooltip: {
                                    trigger: 'item',
                                    triggerOn: 'mousemove'
                                },
                                legend: {
                                    top: '2%',
                                    left: '3%',
                                    orient: 'vertical',
                                    data: [{
                                        name: '化学必修1',
                                        icon: 'rectangle'
                                    },
                                        {
                                            name: '化学必修2',
                                            icon: 'rectangle'
                                        }],
                                    borderColor: '#c23531'
                                },
                                series:[
                                    {
                                        type: 'tree',

                                        name: '化学必修1',

                                        data: [data],

                                        top: '5%',
                                        left: '7%',
                                        bottom: '2%',
                                        right: '60%',

                                        symbolSize: 7,

                                        label: {
                                            position: 'left',
                                            verticalAlign: 'middle',
                                            align: 'right'
                                        },

                                        leaves: {
                                            label: {
                                                position: 'right',
                                                verticalAlign: 'middle',
                                                align: 'left'
                                            }
                                        },

                                        emphasis: {
                                            focus: 'descendant'
                                        },

                                        expandAndCollapse: true,

                                        animationDuration: 550,
                                        animationDurationUpdate: 750

                                    },
                                    {
                                        type: 'tree',
                                        name: '化学必修2',
                                        data: [data2],

                                        top: '20%',
                                        left: '60%',
                                        bottom: '22%',
                                        right: '18%',

                                        symbolSize: 7,

                                        label: {
                                            position: 'left',
                                            verticalAlign: 'middle',
                                            align: 'right'
                                        },

                                        leaves: {
                                            label: {
                                                position: 'right',
                                                verticalAlign: 'middle',
                                                align: 'left'
                                            }
                                        },

                                        expandAndCollapse: true,

                                        emphasis: {
                                            focus: 'descendant'
                                        },

                                        animationDuration: 550,
                                        animationDurationUpdate: 750
                                    }
                                ]
                            });







                            //使用指定的配置项和数据显示图表

                            myChart.setOption(option)

                        </script>
                        <!--这是数据可视化的代码-->



                    </div>
                </div>

                <!-- Form Column -->
                <div class="form-column col-lg-8 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <div class="color-layer"></div>
                        <!-- Sec Title -->
                        <div class="sec-title">
                            <h2> 思维导图的优点 </h2>
                            <h5> 1、思维导图因为与大脑发散性思维关系紧密，最主要的作用是可以改善人类的记忆与发散思维。

                                2、对于抽象思维能力较差的学生，思维导图独特的“图像记忆”，帮助学生更容易记住知识。

                                3、可应用的范围十分广泛，曾有国外博客做过调查，总结了思维导图常用的10大领域：待办事宜、准备演示、做笔记、问题解决、项目计划、做决定、知识管理、项目管理、个人思考和写作。 </h5>
                        </div>

                        <!-- Default Form -->

                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- End Contact Section -->

    <!-- Main Footer -->
    <!-- 底部 -->
    <footer class="main-footer">
        <div th:replace="menu::indexfooter"></div>
    </footer>
</div>

</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-arrow-up"></span></div>

<script src="/js/jquery.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="/js/jquery.fancybox.js"></script>
<script src="/js/appear.js"></script>
<script src="/js/parallax.min.js"></script>
<script src="/js/tilt.jquery.min.js"></script>
<script src="/js/jquery.paroller.min.js"></script>
<script src="/js/owl.js"></script>
<script src="/js/wow.js"></script>
<script src="/js/nav-tool.js"></script>
<script src="/js/jquery-ui.js"></script>
<script src="/js/script.js"></script>

</body>
</html>






