<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>用户编辑 </title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/back/images/favicon.png">
    <link rel="stylesheet" href="/back/vendor/bootstrap-select/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="/back/css/style.css">
	
	<!-- Pick date -->
    <link rel="stylesheet" href="/back/vendor/pickadate/themes/default.css">
    <link rel="stylesheet" href="/back/vendor/pickadate/themes/default.date.css">

</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->

    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            侧边栏头部
        ***********************************-->
        <div th:replace="menu::navHeader"></div>

        <!--**********************************
            头部
        ***********************************-->
        <div th:replace="menu::myheader"></div>

        <!--**********************************
            Sidebar start
        ***********************************-->
        <div th:replace="menu::mymenu">	</div>
        <!--**********************************
            Sidebar end
        ***********************************-->

		
		
        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <!-- row -->
            <div class="container-fluid">
				    
                <div class="row page-titles mx-0">
                    <div class="col-sm-6 p-md-0">
                        <div class="welcome-text">
                            <h4>Eidt Student</h4>
                        </div>
                    </div>
                    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/back/index">Home</a></li>
                            <li class="breadcrumb-item active"><a href="javascript:void(0);">Students</a></li>
                            <li class="breadcrumb-item active"><a href="javascript:void(0);">Add Student</a></li>
                        </ol>
                    </div>
                </div>
				
				<div class="row">
					<div class="col-xl-12 col-xxl-12 col-sm-12">
                        <div class="card">
                            <div class="card-header">
								<h5 class="card-title">Basic Info</h5>
							</div>
							<div class="card-body">
                                <form action="/back/edituser" method="post">
									<div class="row">
										<div class="col-lg-6 col-md-6 col-sm-12">
                                            <input type="hidden" th:value="${usereidtinfo.userid}" name="userid">
											<div class="form-group">
												<label class="form-label">First Name</label>
												<input type="text" class="form-control" th:value="${usereidtinfo.username}" name="username">
											</div>
										</div>
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <label class="form-label">密码</label>
                                                <input type="text" class="form-control" name="password" th:value="${usereidtinfo.password}">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <label class="form-label">邮箱</label>
                                                <input type="text" class="form-control" name="email" th:value="${usereidtinfo.email}">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <!-- 日期的年份选择参考pikdate-int.js -->
                                                <label class="form-label">出生日期</label>
                                                <input name="birthday" class="datepicker-default form-control" id="datepicker1" th:value="${usereidtinfo.birthday}">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <label class="form-label">学历</label>
                                                <input type="text" class="form-control" name="education" th:value="${usereidtinfo.education}">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <label class="form-label">学校</label>
                                                <select class="form-control" name="school">
                                                    <option value="" th:value="${usereidtinfo.school}" th:text="${usereidtinfo.school}">请选择</option>
                                                    <option value="中南民族大学">中南民族大学</option>
                                                    <option value="css">CSS</option>
                                                    <option value="javascript">JavaScript</option>
                                                    <option value="angular">Angular</option>
                                                    <option value="angular">React</option>
                                                    <option value="vuejs">Vue.js</option>
                                                    <option value="ruby">Ruby</option>
                                                    <option value="php">PHP</option>
                                                    <option value="asp">ASP.NET</option>
                                                    <option value="python">Python</option>
                                                    <option value="mysql">MySQL</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <label class="form-label">性别</label>
                                                <select class="form-control" name="user_sex">
                                                    <option value="" th:value="${usereidtinfo.usersex}" th:text="${usereidtinfo.usersex}">请选择</option>
                                                    <option value="男" name="usersex">男</option>
                                                    <option value="女" name="usersex">女</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <label class="form-label">电话号码</label>
                                                <input type="text" class="form-control" name="phone" th:value="${usereidtinfo.phone}">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <label class="form-label">省份</label>
                                                <input type="text" class="form-control" name="provinces" th:value="${usereidtinfo.provinces}">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <label class="form-label">年级</label>
                                                <input type="text" class="form-control" name="grade" th:value="${usereidtinfo.grade}">
                                            </div>
                                        </div>
                                        <!--										<div class="col-lg-6 col-md-6 col-sm-12">-->
                                        <!--											<div class="form-group">-->
                                        <!--												<label class="form-label">Date of Birth</label>-->
                                        <!--												<input name="datepicker" class="datepicker-default form-control" id="datepicker1">-->
                                        <!--											</div>-->
                                        <!--										</div>-->
                                        <!--										<div class="col-lg-6 col-md-6 col-sm-12">-->
                                        <!--											<div class="form-group">-->
                                        <!--												<label class="form-label">Blood Group</label>-->
                                        <!--												<input type="text" class="form-control">-->
                                        <!--											</div>-->
                                        <!--										</div>-->
                                        <!--										<div class="col-lg-12 col-md-12 col-sm-12">-->
                                        <!--											<div class="form-group">-->
                                        <!--												<label class="form-label">Address</label>-->
                                        <!--												<textarea class="form-control" rows="5"></textarea>-->
                                        <!--											</div>-->
                                        <!--										</div>-->
                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            <div class="form-group fallback w-100">
                                                <input type="file" class="dropify" data-default-file="">
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                            <button type="submit" class="btn btn-light">Cencel</button>
                                        </div>
									</div>
								</form>
                            </div>
                        </div>
                    </div>
				</div>
				
            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->


        <!--**********************************
            底部
        ***********************************-->
        <div class="footer">
            <div th:replace="menu::backfooter"></div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->

		<!--**********************************
           Support ticket button start
        ***********************************-->

        <!--**********************************
           Support ticket button end
        ***********************************-->


    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
<script src="/back/vendor/global/global.min.js"></script>
	<script src="/back/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="/back/js/custom.min.js"></script>
	<script src="/back/js/dlabnav-init.js"></script>

	<!-- Svganimation scripts -->
    <script src="/back/vendor/svganimation/vivus.min.js"></script>
    <script src="/back/vendor/svganimation/svg.animation.js"></script>
    <script src="/back/js/styleSwitcher.js"></script>
	
	<!-- pickdate -->
    <script src="/back/vendor/pickadate/picker.js"></script>
    <script src="/back/vendor/pickadate/picker.time.js"></script>
    <script src="/back/vendor/pickadate/picker.date.js"></script>
	
	<!-- Pickdate -->
    <script src="/back/js/plugins-init/pickadate-init.js"></script>
	
</body>
</html>