<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8" />
        <title>高考学霸直通车</title>
        <!-- Stylesheets -->
        <link href="/css/bootstrap.css" rel="stylesheet" />
        <link href="/css/style.css" rel="stylesheet" />
        <link href="/css/responsive.css" rel="stylesheet" />

        <link
            href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap"
            rel="stylesheet"
        />

        <link rel="shortcut icon" href="/images/favicon.png" type="/image/x-icon" />
        <link rel="icon" href="/images/favicon.png" type="image/x-icon" />

        <!-- Responsive -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
        />

        <!--[if lt IE 9
            ]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script
        ><![endif]-->
        <!--[if lt IE 9]><script src="/js/respond.js"></script><![endif]-->
        <script th:inline="javascript">
            window.onload = checkLogin =  () =>{
                var isLogin = [[${session.loginState}]];  // session(后台是user)
                console.log("登录="+isLogin)
            }
        </script>
    </head>

    <body class="hidden-bar-wrapper">
        <div class="page-wrapper">
            <!-- Preloader -->
            <div class="preloader"></div>

            <!-- 头部-->
            <header class="main-header">
                <div th:replace="menu::indexmenu"></div>
            </header>
            <!-- End Main Header -->

            <!-- 大图片（登录注册） -->
            <section class="banner-section">
                <div class="auto-container">
                    <div
                        class="pattern-layer-six"
                        style="background-image: url(/images/main-slider/pattern-4.png)"
                    ></div>
                    <div
                        class="pattern-layer-seven"
                        style="background-image: url(/images/main-slider/pattern-5.png)"
                    ></div>
                    <div
                        class="pattern-layer-eight"
                        style="background-image: url(/images/main-slider/icon-2.png)"
                    ></div>
                    <div class="row clearfix">
                        <!-- Image Column -->
                        <div class="image-column col-lg-6 col-md-12 col-sm-12">
                            <div class="inner-column">
                                <div
                                    class="pattern-layer-one"
                                    style="background-image: url(/images/main-slider/pattern-1.png)"
                                ></div>
                                <div
                                    class="pattern-layer-two"
                                    style="background-image: url(/images/main-slider/pattern-2.png)"
                                ></div>
                                <div
                                    class="pattern-layer-three"
                                    style="background-image: url(/images/main-slider/icon-1.png)"
                                ></div>
                                <div
                                    class="pattern-layer-four"
                                    style="background-image: url(/images/main-slider/pattern-3.png)"
                                ></div>
                                <div
                                    class="pattern-layer-five"
                                    style="background-image: url(/images/main-slider/icon-2.png)"
                                ></div>
                                <div class="image">
                                    <img src="/images/main-slider/image-1.png" alt="" />
                                </div>
                                <div class="image-two">
                                    <img src="/images/main-slider/image-4.png" alt="" />
                                </div>
                                <div
                                    class="image-content"
                                    style="background-image: url(/images/main-slider/pattern-6.png)"
                                >
                                    <p>
                                        87% of people <br />
                                        learning
                                    </p>
                                </div>
                            </div>
                        </div>

                        <!-- Content Column -->
                        <div class="content-column col-lg-6 col-md-12 col-sm-12">
                            <div class="inner-column">
                                <div class="title">在线资源学习</div>
                                <h1>
                                    Build skills with <br />
                                    flexible online <br />
                                    resources
                                </h1>
<!--                                <div class="btns-box">-->
<!--                                    <a th:href="@{/user/login/}" class="theme-btn btn-style-one"-->
<!--                                        ><span class="txt">点击登录</span></a-->
<!--                                    >-->
<!--                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Banner Section -->

            <!-- 政策解读 -->
            <section class="instructor-section">
                <div
                    class="background-layer"
                    style="background-image: url(/images/background/1.png)"
                ></div>
                <div
                    class="background-layer-one"
                    style="background-image: url(/images/background/pattern-1.png)"
                ></div>
                <div
                    class="background-layer-two"
                    style="background-image: url(/images/background/pattern-2.png)"
                ></div>
                <div class="auto-container">
                    <div class="row clearfix">
                        <!-- Blocks Column -->
                        <div class="blocks-column col-lg-8 col-md-12 col-sm-12">
                            <div class="inner-column">
                                <div class="row clearfix">
                                    <!-- Service Block -->
                                    <div class="service-block col-lg-6 col-md-6 col-sm-12">
                                        <div
                                            class="inner-box wow fadeInLeft"
                                            data-wow-delay="0ms"
                                            data-wow-duration="1500ms"
                                        >
                                            <div class="border-layer"></div>
                                            <div class="icon-box">
                                                <div class="icon flaticon-verify"></div>
                                            </div>
                                            <h4>
                                                <a href="/gaokaozixun/zixunall">国家专项计划</a>
                                            </h4>
                                            <div class="text">
                                                国家专项计划定向招收集中连片特殊困难县、国家级扶贫开发重点县以及新疆南疆四地州学生。报考学生须同时具备下列三项条件︰<br />
                                                (1)符合当年统一高考报名条件;<br />
                                                (2)本人具有实施区域当地连续3年以上户籍，其父亲或母亲或法定监护人具有当地户籍;<br />
                                                (3)本人具有户籍所在县高中连续3年学籍并实际就读。
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Service Block -->
                                    <div class="service-block col-lg-6 col-md-6 col-sm-12">
                                        <div
                                            class="inner-box wow fadeInLeft"
                                            data-wow-delay="150ms"
                                            data-wow-duration="1500ms"
                                        >
                                            <div class="border-layer"></div>
                                            <div class="icon-box">
                                                <div class="icon flaticon-heart-box"></div>
                                            </div>
                                            <h4>
                                                <a href="/gaokaozixun/zixunall">高考新规定3+2+1</a>
                                            </h4>
                                            <div class="text">
                                                高考新规定3+2+1有哪些科目?<br />
                                                在高考的新规定中，“3”指语文、数学、英语，它们为必考科目；<br />
                                                “2”指生物、化学、地理、政治中选择两门作为选考科目；<br />
                                                “1”指物理或历史，学生可以在这两者之间选择一门作为选考科目。
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Instructor Column -->
                        <div class="instructor-column col-lg-4 col-md-12 col-sm-12">
                            <div
                                class="inner-column wow fadeInRight"
                                data-wow-delay="0ms"
                                data-wow-duration="1500ms"
                            >
                                <h4>强基计划</h4>
                                <p>
                                    1、高三考生，符合高考报考条件，并且参加了高考。(应届生和复读生均可)。
                                </p>
                                <p>
                                    2、拥有在省级比赛或五大学科竞赛中有获奖记录能够证明具有学科特长。
                                </p>
                                <div class="image titlt" data-tilt data-tilt-max="4">
                                    <img src="/images/resource/instructor.png" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Instructor Section -->

            <!-- 高考助考 -->
            <section class="benefit-section">
                <div
                        class="background-layer-one"
                        style="background-image: url(/images/background/pattern-5.png)"
                ></div>
                <div
                        class="background-layer-two"
                        style="background-image: url(/images/background/pattern-6.png)"
                ></div>
                <div class="auto-container">
                    <div class="row clearfix">
                        <!-- Images Column -->
                        <div class="images-column col-lg-7 col-md-12 col-sm-12">
                            <div class="inner-column">
                                <div
                                        class="pattern-layer"
                                        style="background-image: url(/images/background/pattern-3.png)"
                                ></div>
                                <div
                                        class="pattern-layer-two"
                                        style="background-image: url(/images/background/pattern-4.png)"
                                ></div>
                                <div class="color-layer"></div>
                                <div class="image">
                                    <img src="/images/resource/benefit-1.jpg" alt="" />
                                </div>
                                <div class="image-two">
                                    <img src="/images/resource/benefit-3.jpg" alt="" />
                                </div>
                                <div class="image-three">
                                    <img src="/images/resource/benefit-2.jpg" alt="" />
                                </div>
                            </div>
                        </div>

                        <!-- Content Column -->
                        <div class="content-column col-lg-5 col-md-12 col-sm-12">
                            <div class="inner-column">
                                <div class="sec-title">
                                    <h2>
                                        announcement <br />
                                        高考资讯
                                    </h2>
                                </div>
                                <ul class="list-style-one">
                                    <li>
                                        <span class="icon flaticon-double-check"></span
                                        ><strong>高考政策</strong>新高考怎么办？
                                    </li>
                                    <li>
                                        <span class="icon flaticon-double-check"></span
                                        ><strong>高考报名</strong>高考报名时间错过了怎么办?
                                    </li>
                                    <li>
                                        <span class="icon flaticon-double-check"></span
                                        ><strong>高考大纲</strong>2021年高考命题的六大要求及十项原则
                                    </li>
                                </ul>
                                <div class="btn-box">
                                    <a href="/gaokaozixun/zixunall" class="theme-btn btn-style-two"
                                    ><span class="txt">更多资讯</span></a
                                    >
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Lower Text -->
                    <div class="lower-text">
                        <p>
                            有志者，事竟成，破釜沉舟，二百秦关终属楚；
                            <br />
                            苦心人，天不负，卧薪尝胆，三千越甲可吞吴。
                        </p>
                    </div>
                </div>
            </section>
            <!-- End Benefit Section -->

            <!-- 掌上刷题 -->

            <section class="goal-section style-two">
                <div class="pattern-layer-four" style="background-image:url(images/background/pattern-18.png)"></div>
                <div class="auto-container">
                    <div class="row clearfix">

                        <!-- Images Column -->
                        <div class="images-column col-lg-6 col-md-12 col-sm-12">
                            <div class="color-layer"></div>
                            <div class="inner-column">
                                <div class="pattern-layer" style="background-image:url(/images/background/pattern-4.png)"></div>
                                <div class="pattern-layer-two" style="background-image:url(/images/background/pattern-17.png)"></div>
                                <div class="image">
                                    <img src="/images/resource/goal-1.jpg" alt="" />
                                </div>
                                <div class="image-two">
                                    <img src="/images/resource/goal-2.jpg" alt="" />
                                </div>
                            </div>
                        </div>

                        <!-- Content Column -->
                        <div class="content-column col-lg-6 col-md-12 col-sm-12">
                            <div class="inner-column">
                                <div class="pattern-layer-three" style="background-image:url(/images/background/pattern-13.png)"></div>
                                <div class="sec-title">
                                    <h2>掌上刷题</h2>
                                    <div class="text">书读百遍，其义自见.通过刷题，刷新自己未知的知识点。或者是理解不够深刻的薄弱环节 重塑知识的记忆、理解和重构！<br />
                                        一起刷题，培养手感吧</div>
                                </div>

                                <!-- Fact Counter -->
                                <div class="fact-counter">
                                    <div class="row clearfix">

                                        <!-- Column -->
                                        <div class="column counter-column col-lg-6 col-md-6 col-sm-12">
                                            <div class="inner wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                                                <div class="content">
                                                    <div class="count-outer count-box">
                                                        <span class="count-text" data-speed="3000" data-stop="1000100">0</span>+
                                                    </div>
                                                    <h4 class="counter-title">Over 100w Free issues</h4>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Column -->
                                        <div class="column counter-column col-lg-6 col-md-6 col-sm-12">
                                            <div class="inner wow fadeInLeft">
                                                <div class="content">
                                                    <div class="count-outer count-box">
                                                        <span class="count-text"></span>
                                                    </div>
                                                    <h4 class="counter-title"></h4>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Column -->
                                        <div class="column counter-column col-lg-6 col-md-6 col-sm-12">
                                            <div class="inner wow fadeInLeft" data-wow-delay="600ms" data-wow-duration="1500ms">
                                                <div class="content">
                                                    <div class="count-outer count-box">
                                                        <span class="count-text" data-speed="2000" data-stop="15">0</span>k
                                                    </div>
                                                    <h4 class="counter-title">Over 19,000 High Schools</h4>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Column -->
                                        <div class="column counter-column col-lg-6 col-md-6 col-sm-12">
                                            <div class="inner wow fadeInLeft" data-wow-delay="900ms" data-wow-duration="1500ms">
                                                <div class="content">
                                                    <div class="count-outer count-box">
                                                        <span class="count-text" data-speed="3500" data-stop="5">0</span>m
                                                    </div>
                                                    <h4 class="counter-title">Five Main Courses</h4>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="btn-box">
                                        <a href="/issue/main" class="theme-btn btn-style-two"
                                        ><span class="txt">点击刷题</span></a
                                        >
                                    </div>
                                </div>

                            </div>
                        </div>


                    </div>

                </div>
            </section>
            <!-- End Goal Section -->


            <!-- 资料总结 -->
            <section class="career-section">
                <div class="auto-container">
                    <!-- Sec Title -->
                    <div class="sec-title">
                        <h2>
                            Data conclusion <br />
                            资料总结
                        </h2>
                    </div>

                    <div class="row clearfix">
                        <!-- Image Column -->
                        <div class="image-column col-lg-5 col-md-12 col-sm-12">
                            <div class="inner-column">
                                <div class="image titlt" data-tilt data-tilt-max="4">
                                    <img src="/images/resource/career.png" alt="" />
                                </div>
                            </div>
                        </div>

                        <!-- Content Column -->
                        <div class="content-column col-lg-7 col-md-12 col-sm-12">
                            <div class="inner-column">
                                <h5>语文、数学、物理、化学、英语资料大全</h5>
                                <div class="text">
                                    <p>
                                        随着新课程改革的落实，全国各省市也在陆续推进新教材的使用。高考学霸直通车根据各科资料，为广大学子、教师提供最便捷资料总结阅读。
                                    </p>
                                    <p>
                                        希望对您的学习、教学活动有所帮助!
                                    </p>
                                </div>
                                <a href="/ziliaozongjie/yuwen" class="theme-btn btn-style-three"
                                >查看资料 <span class="fa fa-caret-right"></span
                                ></a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Career Section -->

            <!-- 思维导图 -->
            <section class="courses-section">
                <div
                        class="pattern-layer"
                        style="background-image: url(/images/background/pattern-2.png)"
                ></div>
                <div
                        class="circle-one paroller"
                        data-paroller-factor="-0.20"
                        data-paroller-factor-lg="0.20"
                        data-paroller-type="foreground"
                        data-paroller-direction="horizontal"
                ></div>
                <div
                        class="circle-two paroller"
                        data-paroller-factor="0.20"
                        data-paroller-factor-lg="-0.20"
                        data-paroller-type="foreground"
                        data-paroller-direction="horizontal"
                ></div>
                <div class="auto-container">
                    <div class="sec-title centered">
                        <h2>
                            You can learn anything, Explore <br />
                            思维导图
                        </h2>
                        <div class="text">
                            知识串联 <br />
                            掌握更加牢固
                        </div>
                    </div>
                    <div class="row clearfix">
                        <!-- Course Column -->
                        <div class="course-block col-lg-4 col-md-6 col-sm-12">
                            <div
                                    class="inner-box wow fadeInLeft"
                                    data-wow-delay="0ms"
                                    data-wow-duration="1500ms"
                            >
                                <div class="image">
                                    <a href="/ziliaozongjie/shuxue"
                                    ><img src="/images/resource/course-1.jpg" alt=""
                                    /></a>
                                </div>
                                <div class="lower-content">
                                    <h4>
                                        <a href="/ziliaozongjie/shuxue"
                                        > 举例1 集合的含义及表示</a
                                        >
                                    </h4>
                                    <div class="uni-name">科目 教材 单元</div>
                                    <div class="rating">
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star-o"></span>
                                        <i>(70 阅读量)</i>
                                    </div>
                                    <div class="price">$0.2 <span>$1</span></div>
                                    <div class="clearfix">
                                        <div class="pull-left">
                                            <div class="hovers">1 total hours . All Levels</div>
                                        </div>
                                        <div class="pull-right">
                                            <a href="/ziliaozongjie/shuxue" class="enroll-now"
                                            >详细预览</a
                                            >
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Course Column -->
                        <div class="course-block col-lg-4 col-md-6 col-sm-12">
                            <div
                                    class="inner-box wow fadeInUp"
                                    data-wow-delay="0ms"
                                    data-wow-duration="1500ms"
                            >
                                <div class="image">
                                    <a href="/ziliaozongjie/wuli"
                                    ><img src="/images/resource/course-2.jpg" alt=""
                                    /></a>
                                </div>
                                <div class="lower-content">
                                    <h4>
                                        <a href="/ziliaozongjie/wuli"
                                        > 举例2 牛顿第一定律</a
                                        >
                                    </h4>
                                    <div class="uni-name">科目 教材 单元</div>
                                    <div class="rating">
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <i>(70 阅读量)</i>
                                    </div>
                                    <div class="price">$0.2 <span>$1</span></div>
                                    <div class="clearfix">
                                        <div class="pull-left">
                                            <div class="hovers">1 total hours . All Levels</div>
                                        </div>
                                        <div class="pull-right">
                                            <a href="/ziliaozongjie/wuli" class="enroll-now"
                                            >详细预览</a
                                            >
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!-- Course Column -->
                        <div class="course-block col-lg-4 col-md-6 col-sm-12">
                            <div
                                    class="inner-box wow fadeInRight"
                                    data-wow-delay="0ms"
                                    data-wow-duration="1500ms"
                            >
                                <div class="image">
                                    <a href="/ziliaozongjie/huaxue"
                                    ><img src="/images/resource/course-3.jpg" alt=""
                                    /></a>
                                </div>
                                <div class="lower-content">
                                    <h4>
                                        <a href="/ziliaozongjie/huaxue"
                                        >举例3 溶液和胶体</a
                                        >
                                    </h4>
                                    <div class="uni-name">科目 教材 单元</div>
                                    <div class="rating">
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star-o"></span>
                                        <i>(70 阅读量)</i>
                                    </div>
                                    <div class="price">$0.2 <span>$1</span></div>
                                    <div class="clearfix">
                                        <div class="pull-left">
                                            <div class="hovers">11.5 total hours . All Levels</div>
                                        </div>
                                        <div class="pull-right">
                                            <a href="/ziliaozongjie/huaxue" class="enroll-now"
                                            >详细预览</a
                                            >
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Courses Section -->

            <!-- 志愿填报 -->
            <section class="news-section">
                <div
                        class="pattern-layer"
                        style="background-image: url(/images/background/pattern-11.png)"
                ></div>
                <div class="auto-container">
                    <!-- Sec Title -->
                    <div class="sec-title centered">
                        <h2>高校信息 & 志愿填报</h2>
                        <div class="text">
                            考得好不如报的好 选择有时比努力更重要 <br />
                            第二次“高考”，高考志愿该如何填报？
                        </div>
                    </div>
                    <div class="inner-container">
                        <div
                                class="icon-layer-one"
                                style="background-image: url(/images/icons/icon-1.png)"
                        ></div>
                        <div
                                class="icon-layer-two"
                                style="background-image: url(/images/icons/icon-2.png)"
                        ></div>
                        <div
                                class="icon-layer-three"
                                style="background-image: url(/images/icons/icon-2.png)"
                        ></div>
                        <div class="row clearfix">
                            <!-- News Block -->
                            <div class="news-block col-lg-6 col-md-6 col-sm-12">
                                <div
                                        class="inner-box wow fadeInLeft"
                                        data-wow-delay="0ms"
                                        data-wow-duration="1500ms"
                                >
                                    <div class="image">
                                        <a href="/gaokaozixun/zixunall"
                                        ><img src="/images/resource/news-1.jpg" alt=""
                                        /></a>
                                    </div>
                                    <div class="lower-content">
                                        <div class="border-layer"></div>
                                        <ul class="post-info">
                                            <li>高校信息</li>
                                        </ul>
                                        <h4>
                                            <a href="/gaokaozixun/zixunall"
                                            >
                                                全国2000多所学校信息一览</a
                                            >
                                        </h4>
                                        <a href="/gaokaozixun/zixunall" class="more"
                                        >查看更多 <span class="fa fa-angle-double-right"></span
                                        ></a>
                                    </div>
                                </div>
                            </div>

                            <!-- News Block -->
                            <div class="news-block col-lg-6 col-md-6 col-sm-12">
                                <div
                                        class="inner-box wow fadeInRight"
                                        data-wow-delay="0ms"
                                        data-wow-duration="1500ms"
                                >
                                    <div class="image">
                                        <a href="/gaokaozixun/zixunall"
                                        ><img src="/images/resource/news-2.jpg" alt=""
                                        /></a>
                                    </div>
                                    <div class="lower-content">
                                        <div class="border-layer"></div>
                                        <ul class="post-info">
                                            <li>志愿填报</li>

                                        </ul>
                                        <h4>
                                            <a href="/gaokaozixun/zixunall"
                                            >模拟志愿填报 <br />
                                                数据预测更靠谱</a
                                            >
                                        </h4>
                                        <a href="/gaokaozixun/zixunall" class="more"
                                        >查看更多 <span class="fa fa-angle-double-right"></span
                                        ></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End News Section -->

            <!-- 智能问答 -->
            <section class="testimonial-section">
                <div
                        class="circle-one paroller"
                        data-paroller-factor="-0.20"
                        data-paroller-factor-lg="0.20"
                        data-paroller-type="foreground"
                        data-paroller-direction="horizontal"
                ></div>
                <div
                        class="circle-two paroller"
                        data-paroller-factor="0.20"
                        data-paroller-factor-lg="-0.20"
                        data-paroller-type="foreground"
                        data-paroller-direction="horizontal"
                ></div>
                <div
                        class="pattern-layer-two"
                        style="background-image: url(/images/background/pattern-10.png)"
                ></div>
                <div class="auto-container">
                    <div class="inner-container">
                        <div
                                class="pattern-layer"
                                style="background-image: url(/images/background/pattern-9.png)"
                        ></div>
                        <!-- Sec Title -->
                        <div class="sec-title centered">
                            <h2>智能问答</h2></h2>
                            <div class="text">
                                你想问的都能回答<br />
                                试试 : 天空为什么是蓝色的？
                            </div>
                        </div>
                        <div class="testimonial-carousel owl-carousel owl-theme">
                            <!-- Testimonial Block -->
                            <div class="testimonial-block">
                                <div class="inner-box">
                                    <div class="text">
                                        氯化钠 (Sodium chloride)，是一种无机离子化合物，化学式NaCl，无色立方结晶或细小结晶粉末，味咸。外观是白色晶体状，其来源主要是海水，是食盐的主要成分。易溶于水、甘油，微溶于乙醇（酒精）、液氨；不溶于浓盐酸。不纯的氯化钠在空气中有潮解性。稳定性比较好，其水溶液呈中性，工业上一般采用电解饱和氯化钠溶液的方法来生产氢气、氯气和烧碱（氢氧化钠）及其他化工产品（一般称为氯碱工业）也可用于矿石冶炼（电解熔融的氯化钠晶体生产活泼金属钠），医疗上用来配置生理盐水，生活上可用于调味品。
                                    </div>
                                    <div class="author-info">
                                        <div class="info-inner">
                                            <div class="author-image">
                                                <img src="/userimgs/赵轩/zx.png" alt="" />
                                            </div>
                                            <h6>赵轩</h6>
                                            <div class="designation">Nacl?</div>
                                        </div>
                                    </div>
                                    <div class="quote-icon flaticon-quote-2"></div>
                                </div>
                            </div>

                            <!-- Testimonial Block -->
                            <div class="testimonial-block">
                                <div class="inner-box">
                                    <div class="text">
                                        问题：<br />
                                        “八百里分麾下炙”下一句<br />
                                        回答：<br />
                                        五十弦翻塞外声
                                    </div>
                                    <div class="author-info">
                                        <div class="info-inner">
                                            <div class="author-image">
                                                <img src="/userimgs/黄偲佳/hsj.png" alt="" />
                                            </div>
                                            <h6>黄偲佳</h6>
                                            <div class="designation">“八百里分麾下炙”下一句</div>
                                        </div>
                                    </div>
                                    <div class="quote-icon flaticon-quote-2"></div>
                                </div>
                            </div>

                            <!-- Testimonial Block -->
                            <div class="testimonial-block">
                                <div class="inner-box">
                                    <div class="text">
                                        非限定性定语从句起补充说明作用，缺少也不会影响全句的理解，它与主句往往用逗号隔开。定语从句有限制性和非限制性两种。限制性定语从句是先行词不可缺少的部分，去掉它主句意思往往不明确；非限制性定语从句是先行词的附加说明，去掉了也不会影响主句的意思，它与主句之间通常用逗号分开，将非限定性定语从句放在句子中间，其前后都需要用逗号隔开。

                                    </div>
                                    <div class="author-info">
                                        <div class="info-inner">
                                            <div class="author-image">
                                                <img src="/userimgs/徐航/xh.png" alt="" />
                                            </div>
                                            <h6>徐航</h6>
                                            <div class="designation">非限定性定语从句</div>
                                        </div>
                                    </div>
                                    <div class="quote-icon flaticon-quote-2"></div>
                                </div>
                            </div>

                            <!-- Testimonial Block -->
                            <div class="testimonial-block">
                                <div class="inner-box">
                                    <div class="text">
                                        烧瓶、玻璃棒、容量瓶、导气管、胶头滴管、试管、量筒、量杯、表面皿、各种漏斗、滴定管、锥形瓶、集气瓶、盖玻片、广口瓶等

                                    </div>
                                    <div class="author-info">
                                        <div class="info-inner">
                                            <div class="author-image">
                                                <img src="/userimgs/肖唯瞻/xwz.png" alt="" />
                                            </div>
                                            <h6>肖唯瞻</h6>
                                            <div class="designation">化学常用玻璃仪器？</div>
                                        </div>
                                    </div>
                                    <div class="quote-icon flaticon-quote-2"></div>
                                </div>
                            </div>

                            <!-- Testimonial Block -->
                            <div class="testimonial-block">
                                <div class="inner-box">
                                    <div class="text">
                                        加速度（Acceleration）是速度变化量与发生这一变化所用时间的比值Δv/Δt，是描述物体速度变化快慢的物理量，通常用a表示，单位是m/s2。加速度是矢量，它的方向是物体速度变化（量）的方向，与合外力的方向相同。

                                    </div>
                                    <div class="author-info">
                                        <div class="info-inner">
                                            <div class="author-image">
                                                <img src="/userimgs/谢豪/xh.png" alt="" />
                                            </div>
                                            <h6>谢豪</h6>
                                            <div class="designation">加速度</div>
                                        </div>
                                    </div>
                                    <div class="quote-icon flaticon-quote-2"></div>
                                </div>
                            </div>

                            <!-- Testimonial Block -->
                            <div class="testimonial-block">
                                <div class="inner-box">
                                    <div class="text">
                                        牛顿第一运动定律，简称牛顿第一定律。又称惯性定律、惰性定律。常见的完整表述：任何物体都要保持匀速直线运动或静止状态，直到外力迫使它改变运动状态为止。
                                    </div>
                                    <div class="author-info">
                                        <div class="info-inner">
                                            <div class="author-image">
                                                <img src="/userimgs/童颖/ty.png" alt="" />
                                            </div>
                                            <h6>童颖</h6>
                                            <div class="designation">牛顿第一定律</div>
                                        </div>
                                    </div>
                                    <div class="quote-icon flaticon-quote-2"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Testimonial Section -->

            <!-- 个人中心 -->
            <section class="skill-section">
                <div
                        class="pattern-layer"
                        style="background-image: url(/images/background/pattern-8.png)"
                ></div>
                <div class="auto-container">
                    <div class="row clearfix">
                        <!-- Skill Column -->
                        <div class="skill-column col-lg-7 col-md-12 col-sm-12">
                            <div class="inner-column">
                                <!-- Sec Title -->
                                <div class="sec-title">
                                    <h2 th:text="${user.username}">
                                        xxx（从数据库取出名字）的个人中心
                                    </h2>
                                    <div class="text">
                                        数据中心，比你想的更懂你<br />
                                        点击验收学习成果吧
                                    </div>
                                </div>

                                <!-- Skills -->
                                <div class="skills">
                                    <!-- Skill Item -->
                                    <div class="skill-item">
                                        <div class="skill-header clearfix">
                                            <div class="skill-title">刷题量</div>
                                            <div class="skill-percentage">
                                                <div class="count-box">
                                                    <span
                                                            class="count-text"
                                                            data-speed="2000"
                                                            data-stop="90"
                                                    >0</span
                                                    >%
                                                </div>
                                            </div>
                                        </div>
                                        <div class="skill-bar">
                                            <div class="bar-inner">
                                                <div
                                                        class="bar progress-line"
                                                        data-width="90"
                                                ></div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Skill Item -->
                                    <div class="skill-item">
                                        <div class="skill-header clearfix">
                                            <div class="skill-title">资料阅读量</div>
                                            <div class="skill-percentage">
                                                <div class="count-box">
                                                    <span
                                                            class="count-text"
                                                            data-speed="2000"
                                                            data-stop="95"
                                                    >0</span
                                                    >%
                                                </div>
                                            </div>
                                        </div>
                                        <div class="skill-bar">
                                            <div class="bar-inner">
                                                <div
                                                        class="bar progress-line"
                                                        data-width="95"
                                                ></div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Skill Item -->
                                    <div class="skill-item">
                                        <div class="skill-header clearfix">
                                            <div class="skill-title">资讯了解量</div>
                                            <div class="skill-percentage">
                                                <div class="count-box">
                                                    <span
                                                            class="count-text"
                                                            data-speed="2000"
                                                            data-stop="75"
                                                    >0</span
                                                    >%
                                                </div>
                                            </div>
                                        </div>
                                        <div class="skill-bar">
                                            <div class="bar-inner">
                                                <div
                                                        class="bar progress-line"
                                                        data-width="75"
                                                ></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Image Column -->
                        <div class="image-column col-lg-5 col-md-12 col-sm-12">
                            <div class="inner-column">
                                <div class="circle-one"></div>
                                <div class="circle-two"></div>
                                <div class="image titlt" data-tilt data-tilt-max="4">
                                    <img src="/images/resource/skill.png" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Skill Section -->

            <!-- 底部 -->
            <footer class="main-footer">
                <div th:replace="menu::indexfooter"></div>
            </footer>
        </div>
        <!--End pagewrapper-->

        <!--Scroll to top-->
        <div class="scroll-to-top scroll-to-target" data-target="html">
            <span class="fa fa-arrow-up"></span>
        </div>

        <script src="/js/jquery.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/jquery.mCustomScrollbar.concat.min.js"></script>
        <script src="/js/jquery.fancybox.js"></script>
        <script src="/js/appear.js"></script>
        <script src="/js/parallax.min.js"></script>
        <script src="/js/tilt.jquery.min.js"></script>
        <script src="/js/jquery.paroller.min.js"></script>
        <script src="/js/owl.js"></script>
        <script src="/js/wow.js"></script>
        <script src="/js/nav-tool.js"></script>
        <script src="/js/jquery-ui.js"></script>
        <script src="/js/script.js"></script>
    </body>
</html>
