<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <script src="/js/echarts.min.js"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>主页面 </title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/back/images/favicon.png">
    <link rel="stylesheet" href="/back/vendor/jqvmap/css/jqvmap.min.css">
	<link rel="stylesheet" href="/back/vendor/chartist/css/chartist.min.css">
	<link rel="stylesheet" href="/back/vendor/bootstrap-select/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="/back/css/style.css">
	<link rel="stylesheet" href="/back/css/skin-2.css">

</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->

    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <a href="index.html" class="brand-logo">
                <img class="logo-abbr" src="/back/images/logo-white.png" alt="">
                <img class="logo-compact" src="/back/images/logo-text-white.png" alt="">
                <img class="brand-title" src="/back/images/logo-text-white.png" alt="">
            </a>

            <div class="nav-control">
                <div class="hamburger">
                    <span class="line"></span><span class="line"></span><span class="line"></span>
                </div>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->

        <!--**********************************
            头部
        ***********************************-->
        <div th:replace="menu::myheader"></div>

        <!--**********************************
            Sidebar start
        ***********************************-->
        <div th:replace="menu::mymenu">	</div>
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <!-- row -->
            <div class="container-fluid">
			
                <div class="row">
					<div class="col-xl-3 col-xxl-3 col-sm-6">
						<div class="widget-stat card bg-primary overflow-hidden">
							<div class="card-header">
								<h3 class="card-title text-white">所有用户</h3>
								<h5 class="text-white mb-0"><i class="fa fa-caret-up"></i> 422</h5>
							</div>
							<div class="card-body text-center mt-3">
								<div class="ico-sparkline">
									<div id="sparkline12"></div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-xxl-3 col-sm-6">
						<div class="widget-stat card bg-success overflow-hidden">
							<div class="card-header">
								<h3 class="card-title text-white">题目数量</h3>
								<h5 class="text-white mb-0"><i class="fa fa-caret-up"></i> 357</h5>
							</div>
							<div class="card-body text-center mt-4 p-0">
								<div class="ico-sparkline">
									<div id="spark-bar-2"></div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-xxl-3 col-sm-6">
						<div class="widget-stat card bg-secondary overflow-hidden">
							<div class="card-header pb-3">
								<h3 class="card-title text-white">所有用户</h3>
								<h5 class="text-white mb-0"><i class="fa fa-caret-up"></i> 547</h5>
							</div>
							<div class="card-body p-0 mt-2">
								<div class="px-4"><span class="bar1" data-peity='{ "fill": ["rgb(0, 0, 128)", "rgb(7, 135, 234)"]}'>6,2,8,4,-3,8,1,-3,6,-5,9,2,-8,1,4,8,9,8,2,1</span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-xxl-3 col-sm-6">
						<div class="widget-stat card bg-danger overflow-hidden">
							<div class="card-header pb-3">
								<h3 class="card-title text-white">时间数据</h3>
								<h5 class="text-white mb-0"><i class="fa fa-caret-up"></i> 3280</h5>
							</div>
							<div class="card-body p-0 mt-1">
								<span class="peity-line-2" data-width="100%">7,6,8,7,3,8,3,3,6,5,9,2,8</span>
							</div>
						</div>
					</div>
					<div class="col-xl-6 col-xxl-6 col-lg-6">
						<div class="card">
                            <div class="card-header">



                                <!--这是数据可视化的代码-->
                                <div class="container" id="main" style="width: 1000px;height: 600px;"></div>
                                <script type="text/javascript" th:inline="javascript">


                                    option = {
                                        tooltip: {
                                            trigger: 'item',
                                            formatter: '{a} <br/>{b}: {c} ({d}%)'
                                        },
                                        legend: {
                                            data: ['云南', '广西', '四川', '河北', '湖北', '河南', '湖南', '重庆']
                                        },
                                        series: [
                                            {
                                                name: '性别占比',
                                                type: 'pie',
                                                selectedMode: 'single',
                                                radius: [0, '30%'],
                                                label: {
                                                    position: 'inner',
                                                    fontSize: 14,
                                                },
                                                labelLine: {
                                                    show: false
                                                },
                                                data: [
                                                    {value: 6, name: '男生'},
                                                    {value: 13, name: '女生', selected: true}
                                                ]
                                            },
                                            {
                                                name: '省份人数',
                                                type: 'pie',
                                                radius: ['45%', '60%'],
                                                labelLine: {
                                                    length: 30,
                                                },
                                                label: {
                                                    formatter: '{a|{a}}{abg|}\n{hr|}\n  {b|{b}：}{c}  {per|{d}%}  ',
                                                    backgroundColor: '#F6F8FC',
                                                    borderColor: '#8C8D8E',
                                                    borderWidth: 1,
                                                    borderRadius: 4,

                                                    rich: {
                                                        a: {
                                                            color: '#6E7079',
                                                            lineHeight: 22,
                                                            align: 'center'
                                                        },
                                                        hr: {
                                                            borderColor: '#8C8D8E',
                                                            width: '100%',
                                                            borderWidth: 1,
                                                            height: 0
                                                        },
                                                        b: {
                                                            color: '#4C5058',
                                                            fontSize: 14,
                                                            fontWeight: 'bold',
                                                            lineHeight: 33
                                                        },
                                                        per: {
                                                            color: '#fff',
                                                            backgroundColor: '#4C5058',
                                                            padding: [3, 4],
                                                            borderRadius: 4
                                                        }
                                                    }
                                                },
                                                data: [
                                                    {value: 6, name: '广西'},
                                                    {value: 4, name: '湖北'},
                                                    {value: 3, name: '湖南'},
                                                    {value: 3, name: '四川'},
                                                    {value: 1, name: '河北'},
                                                    {value: 1, name: '重庆'},
                                                    {value: 1, name: '云南'},
                                                    {value: 2, name: '河南'}
                                                ]
                                            }
                                        ]
                                    };



                                    var myChart = echarts.init(document.getElementById('main'));



                                    //使用指定的配置项和数据显示图表

                                    myChart.setOption(option)

                                </script>
                                <!--这是数据可视化的代码-->






                            </div>
						</div>
					</div>
					<div class="col-xl-6 col-xxl-6 col-sm-6">
						<div class="card">
							<div class="card-header">






                                <!--这是数据可视化的代码-->
                                <div class="container" id="main2" style="width: 1200px;height: 600px;"></div>
                                <script type="text/javascript" th:inline="javascript">

                                    var myChart = echarts.init(document.getElementById('main2'));

									option = {
										xAxis: {
											type: 'category',
											boundaryGap: false,
											data: ['思维导图数量', '高考真题数量', '高考资讯数量','资料总结数量', ]
										},
										yAxis: {
											type: 'value'
										},
										series: [{
											data: [46, 358,2594,1770],
											type: 'line',
											areaStyle: {}
										}]
									};
                                    //使用指定的配置项和数据显示图表

                                    myChart.setOption(option)

                                </script>
                                <!--这是数据可视化的代码-->












							</div>
						</div>
					</div>
				</div>
            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->


        <!--**********************************
            底部
        ***********************************-->
        <div class="footer">
            <div th:replace="menu::backfooter"></div>
        </div>

    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="/back/vendor/global/global.min.js"></script>
	<script src="/back/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="/back/js/custom.min.js"></script>
	<script src="/back/js/dlabnav-init.js"></script>

    <!-- Chart ChartJS plugin files -->
    <script src="/back/vendor/chart.js/Chart.bundle.min.js"></script>
	
	<!-- Chart piety plugin files -->
    <script src="/back/vendor/peity/jquery.peity.min.js"></script>
	
	<!-- Chart sparkline plugin files -->
    <script src="/back/vendor/jquery-sparkline/jquery.sparkline.min.js"></script>
	
		<!-- Demo scripts -->
    <script src="/back/js/dashboard/dashboard-3.js"></script>
	
	<!-- Svganimation scripts -->
    <script src="/back/vendor/svganimation/vivus.min.js"></script>
    <script src="/back/vendor/svganimation/svg.animation.js"></script>
    <script src="/back/js/styleSwitcher.js"></script>
	
</body>
</html>