<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>team01</title>
</head>
<body>

<!-- 后端侧边栏-->
<div class="dlabnav" th:fragment="mymenu">
    <div class="dlabnav-scroll">
        <ul class="metismenu" id="menu">
            <li class="nav-label first">Main Menu</li>
            <li><a class="ai-icon" href="/back/index" aria-expanded="false">
                <i class="la la-home"></i>
                <span class="nav-text">主页面</span>
            </a>
            </li>
            <li><a class="ai-icon" href="event-management.html" aria-expanded="false">
                    <i class="la la-calendar"></i>
                    <span class="nav-text">Event Management</span>
                </a>
            </li>
            <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="la la-user"></i>
                    <span class="nav-text">Professors</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="all-professors.html">All Professor</a></li>
                    <li><a href="add-professor.html">Add Professor</a></li>
                    <li><a href="edit-professor.html">Edit Professor</a></li>
                    <li><a href="professor-profile.html">Professor Profile</a></li>
                </ul>
            </li>
            <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="la la-users"></i>
                    <span class="nav-text">用户</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="/back/alluser">所有用户</a></li>
                    <li><a href="/back/adduser">添加用户</a></li>
                    <li><a href="/back/aboutuser">用户个人中心</a></li>
                </ul>
            </li>
            <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="la la-graduation-cap"></i>
                    <span class="nav-text">真题</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="/back/courses">所有真题</a></li>
                    <li><a href="/back/addcourses">添加真题</a></li>
                    <li><a href="/back/editcourses">编辑真题</a></li>
                    <li><a href="/back/aboutcourses">About Courses</a></li>
                </ul>
            </li>
            <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">
                <i class="la la-graduation-cap"></i>
                <span class="nav-text">试题</span>
            </a>
                <ul aria-expanded="false">
                    <li><a href="/back/backIssues">所有试题</a></li>
                    <li><a href="/back/addIssues">添加试题</a></li>
                    <li><a href="/back/editIssues">编辑试题</a></li>
                    <li><a href="/back/aboutIssues">About Courses</a></li>
                </ul>
            </li>
            <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="la la-book"></i>
                    <span class="nav-text">资料</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="/back/library">所有资料</a></li>
                    <li><a href="/back/addlibrary">添加资料</a></li>
                    <li><a href="/back/editlibrary">Edit Library</a></li>
                </ul>
            </li>
            <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="la la-building"></i>
                    <span class="nav-text">资讯</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="/back/department">所有资讯</a></li>
                    <li><a href="add-departments.html">添加资讯</a></li>
                    <li><a href="edit-departments.html">编辑资讯</a></li>
                </ul>
            </li>
            <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="la la-users"></i>
                    <span class="nav-text">Staff</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="all-staff.html">All Staff</a></li>
                    <li><a href="add-staff.html">Add Staff</a></li>
                    <li><a href="edit-staff.html">Edit Staff</a></li>
                    <li><a href="staff-profile.html">Staff Profile</a></li>
                </ul>
            </li>
            <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="la la-gift"></i>
                    <span class="nav-text">Holiday</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="all-holiday.html">All Holiday</a></li>
                    <li><a href="add-holiday.html">Add Holiday</a></li>
                    <li><a href="edit-holiday.html">Edit Holiday</a></li>
                    <li><a href="holiday-calendar.html">Holiday Calendar</a></li>
                </ul>
            </li>
            <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="la la-dollar"></i>
                    <span class="nav-text">盈利</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="fees-collection.html">Fees Collection</a></li>
                    <li><a href="add-fees.html">Add Fees</a></li>
                    <li><a href="fees-receipt.html">Fees Receipt</a></li>
                </ul>
            </li>					
            <li class="nav-label">Apps</li>
            <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="la la-users"></i>
                    <span class="nav-text">Apps</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="./app-profile.html">Profile</a></li>
                    <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">Email</a>
                        <ul aria-expanded="false">
                            <li><a href="./email-compose.html">Compose</a></li>
                            <li><a href="./email-inbox.html">Inbox</a></li>
                            <li><a href="./email-read.html">Read</a></li>
                        </ul>
                    </li>
                    <li><a href="./app-calender.html">Calendar</a></li>
                    <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">Shop</a>
                        <ul aria-expanded="false">
                            <li><a href="./ecom-product-grid.html">Product Grid</a></li>
                            <li><a href="./ecom-product-list.html">Product List</a></li>
                            <li><a href="./ecom-product-detail.html">Product Details</a></li>
                            <li><a href="./ecom-product-order.html">Order</a></li>
                            <li><a href="./ecom-checkout.html">Checkout</a></li>
                            <li><a href="./ecom-invoice.html">Invoice</a></li>
                            <li><a href="./ecom-customers.html">Customers</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                    <i class="la la-signal"></i>
                    <span class="nav-text">Charts</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="./chart-flot.html">Flot</a></li>
                    <li><a href="./chart-morris.html">Morris</a></li>
                    <li><a href="./chart-chartjs.html">Chartjs</a></li>
                    <li><a href="./chart-chartist.html">Chartist</a></li>
                    <li><a href="./chart-sparkline.html">Sparkline</a></li>
                    <li><a href="./chart-peity.html">Peity</a></li>
                </ul>
            </li>
            <li class="nav-label">Components</li>
            <li class="mega-menu mega-menu-xl"><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                    <i class="la la-globe"></i>
                    <span class="nav-text">Bootstrap</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="./ui-accordion.html">Accordion</a></li>
                    <li><a href="./ui-alert.html">Alert</a></li>
                    <li><a href="./ui-badge.html">Badge</a></li>
                    <li><a href="./ui-button.html">Button</a></li>
                    <li><a href="./ui-modal.html">Modal</a></li>
                    <li><a href="./ui-button-group.html">Button Group</a></li>
                    <li><a href="./ui-list-group.html">List Group</a></li>
                    <li><a href="./ui-media-object.html">Media Object</a></li>
                    <li><a href="./ui-card.html">Cards</a></li>
                    <li><a href="./ui-carousel.html">Carousel</a></li>
                    <li><a href="./ui-dropdown.html">Dropdown</a></li>
                    <li><a href="./ui-popover.html">Popover</a></li>
                    <li><a href="./ui-progressbar.html">Progressbar</a></li>
                    <li><a href="./ui-tab.html">Tab</a></li>
                    <li><a href="./ui-typography.html">Typography</a></li>
                    <li><a href="./ui-pagination.html">Pagination</a></li>
                    <li><a href="./ui-grid.html">Grid</a></li>
                </ul>
            </li>
            <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="la la-plus-square-o"></i>
                    <span class="nav-text">Plugins</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="./uc-select2.html">Select 2</a></li>
                    <li><a href="./uc-nestable.html">Nestedable</a></li>
                    <li><a href="./uc-noui-slider.html">Noui Slider</a></li>
                    <li><a href="./uc-sweetalert.html">Sweet Alert</a></li>
                    <li><a href="./uc-toastr.html">Toastr</a></li>
                    <li><a href="./map-jqvmap.html">Jqv Map</a></li>
                </ul>
            </li>
            <li><a href="widget-basic.html" aria-expanded="false">
                    <i class="la la-desktop"></i>
                    <span class="nav-text">Widget</span>
                </a></li>
            <li class="nav-label">Forms</li>
            <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="la la-file-text"></i>
                    <span class="nav-text">Forms</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="./form-element.html">Form Elements</a></li>
                    <li><a href="./form-wizard.html">Wizard</a></li>
                    <li><a href="./form-editor-summernote.html">Summernote</a></li>
                    <li><a href="form-pickers.html">Pickers</a></li>
                    <li><a href="form-validation-jquery.html">Jquery Validate</a></li>
                </ul>
            </li>
            <li class="nav-label">Table</li>
            <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="la la-table"></i>
                    <span class="nav-text">Table</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="table-bootstrap-basic.html">Bootstrap</a></li>
                    <li><a href="table-datatable-basic.html">Datatable</a></li>
                </ul>
            </li>
            <li class="nav-label">Extra</li>
            <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="la la-th-list"></i>
                    <span class="nav-text">Pages</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="./page-register.html">Register</a></li>
                    <li><a href="./page-login.html">Login</a></li>
                    <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">Error</a>
                        <ul aria-expanded="false">
                            <li><a href="./page-error-400.html">Error 400</a></li>
                            <li><a href="./page-error-403.html">Error 403</a></li>
                            <li><a href="./page-error-404.html">Error 404</a></li>
                            <li><a href="./page-error-500.html">Error 500</a></li>
                            <li><a href="./page-error-503.html">Error 503</a></li>
                        </ul>
                    </li>
                    <li><a href="./page-lock-screen.html">Lock Screen</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>

<!--前端头部-->
<header class="main-header" th:fragment="indexmenu">
    <!--Header-Upper-->
    <div class="header-upper">
        <div class="outer-container clearfix">
            <div class="pull-left logo-box">
                <div class="logo">
                    <a href="index-1.html"
                    ><img src="/images/logo.png" alt="" title=""
                    /></a>
                </div>
            </div>

            <div class="nav-outer clearfix">
                <!--Mobile Navigation Toggler-->
                <div class="mobile-nav-toggler">
                    <span class="icon flaticon-menu"></span>
                </div>
                <!-- Main Menu -->
                <nav class="main-menu navbar-expand-md">
                    <div class="navbar-header">
                        <!-- Toggle Button -->
                        <button
                                class="navbar-toggler"
                                type="button"
                                data-toggle="collapse"
                                data-target="#navbarSupportedContent"
                                aria-controls="navbarSupportedContent"
                                aria-expanded="false"
                                aria-label="Toggle navigation"
                        >
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>

                    <div
                            class="navbar-collapse collapse clearfix"
                            id="navbarSupportedContent"
                    >
                        <ul class="navigation clearfix">
                            <li class="dropdown has-mega-menu">
                                <a href="#"
                                ><span
                                >直击高考 <i class="fa fa-arrow-down"></i></span
                                ></a>
                                <div class="mega-menu">
                                    <!-- Upper Box -->
                                    <div class="upper-box">
                                        <div class="page-links-box">
                                            <!-- 更改直击高考栏目跳转页面  这里不写页面名称 写虚拟路径-->
                                            <a href="/zjgk/subject" class="link"
                                            ><span
                                                    class="icon flaticon-bullhorn"
                                            ></span
                                            >全国一卷</a
                                            >
                                            <a href="/zjgk/subject" class="link"
                                            ><span
                                                    class="icon flaticon-cyclist"
                                            ></span
                                            >全国二卷</a
                                            >
                                            <a href="/zjgk/subject" class="link"
                                            ><span
                                                    class="icon flaticon-bar-chart"
                                            ></span
                                            >全国三卷</a
                                            >
                                            <a href="course-4.html" class="link"
                                            ><span
                                                    class="icon flaticon-software"
                                            ></span
                                            >北京卷</a
                                            >
                                            <a href="course-3.html" class="link"
                                            ><span class="icon flaticon-atom"></span
                                            >天津卷</a
                                            >
                                            <a href="course.html" class="link"
                                            ><span
                                                    class="icon flaticon-webpage"
                                            ></span
                                            >上海卷</a
                                            >
                                            <a href="course-2.html" class="link"
                                            ><span
                                                    class="icon flaticon-language"
                                            ></span
                                            >浙江卷</a
                                            >
                                            <a href="course-3.html" class="link"
                                            ><span class="icon flaticon-team"></span
                                            >山东卷</a
                                            >
                                            <a href="course-3.html" class="link"
                                            ><span class="icon flaticon-team"></span
                                            >江苏卷</a
                                            >
                                            <a href="course-4.html" class="link"
                                            ><span
                                                    class="icon flaticon-healthcare"
                                            ></span
                                            >海南卷</a
                                            >
                                        </div>
                                    </div>
                                    <!-- Lower Box -->
                                    <div class="lower-box">
                                        <h3>高考学霸直通车</h3>
                                        <div class="text">
                                            高考是人生中关键的转折点！ <br />
                                            高考学霸直通车为高考助力，为大家保驾护航！
                                        </div>
                                        <div class="btn-box">
                                            <a href="/zjgk/subject" class="theme-btn btn-style-five"
                                            >每日一问：今天你学习了吗？</a
                                            >
                                        </div>
                                        <div class="side-icon">
                                            <img
                                                    src="/images/resource/mega-menu-icon.png"
                                                    alt=""
                                            />
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="current dropdown">
                                <a href="#"><span data-hover="Home">主页</span></a>
                            </li>
                            <li class="dropdown">
                                <a href="#">掌上刷题</a></a>
                                <ul>
                                    <li><a href="/issue/main">语文</a></li>
                                    <li><a href="/issue/main">数学</a></li>
                                    <li><a href="/issue/main">英语</a></li>
                                    <li><a href="/issue/main">物理</a></li>
                                    <li><a href="/issue/main">化学</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="/ziliaozongjie/yuwen">资料总结</a>
                                <ul>
                                    <li><a href="/ziliaozongjie/yuwen">语文</a></li>
                                    <li><a href="/ziliaozongjie/yingyu">英语</a></li>
                                    <li><a href="/ziliaozongjie/shuxue">数学</a></li>
                                    <li><a href="/ziliaozongjie/wuli">物理</a></li>
                                    <li><a href="/ziliaozongjie/huaxue">化学</a></li>
                                    <li>
                                        <a href="course-detail.html">课程内容详细页</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="/gaokaozixun/zixunall">高考资讯</a>
                                <ul>
                                    <li><a href="/gaokaozixun/zixunall">高考政策</a></li>
                                    <li><a href="/gaokaozixun/zixunall">高考分数线</a></li>
                                    <li><a href="/gaokaozixun/zixunall">高考高考状元</a></li>
                                    <li><a href="/gaokaozixun/zixunall">成绩查询</a></li>
                                    <li><a href="/gaokaozixun/zixunall">高考时间</a></li>
                                    <li><a href="/gaokaozixun/zixunall">高考新闻</a></li>
                                    <li><a href="/gaokaozixun/zixunall">高考大纲</a></li>
                                    <li><a href="/gaokaozixun/zixunall">录取查询</a></li>
                                </ul>
                            </li>
                            <li><a href="contact.html">智能问答</a></li>
                            <li><a href="donation.html">个人中心</a></li>
                        </ul>
                    </div>
                </nav>

                <!-- Main Menu End-->
                <div class="outer-box clearfix">
                    <!-- Search -->
                    <div class="search-box">
                        <form method="post" action="contact.html">
                            <div class="form-group">
                                <input
                                        type="search"
                                        name="search-field"
                                        value=""
                                        placeholder="在此搜索..."
                                        required
                                />
                                <button type="submit">
                                    <span class="icon fa fa-search"></span>
                                </button>
                            </div>
                        </form>
                    </div>

                    <!-- Social Box -->
                    <!-- <ul class="social-box">
                        <li class="instagram">
                            <a
                                target="_blank"
                                href="http://instagram.com/"
                                class="fa fa-instagram"
                            ></a>
                        </li>
                        <li class="facebook">
                            <a
                                target="_blank"
                                href="http://facebook.com/"
                                class="fa fa-facebook-f"
                            ></a>
                        </li>
                        <li class="twitter">
                            <a
                                target="_blank"
                                href="http://twitter.com/"
                                class="fa fa-twitter"
                            ></a>
                        </li>
                        <li class="pinterest">
                            <a
                                target="_blank"
                                href="http://pinterest.com/"
                                class="fa fa-pinterest-p"
                            ></a>
                        </li>
                    </ul> -->
                </div>
            </div>
        </div>
    </div>
    <!--End Header Upper-->

    <!-- Sticky Header  -->
    <div class="sticky-header">
        <div class="auto-container clearfix">
            <!--Logo-->
            <div class="logo pull-left">
                <a href="index-1.html" title=""
                ><img src="/images/logo.png" alt="" title=""
                /></a>
            </div>
            <!--Right Col-->
            <div class="pull-right">
                <!-- Main Menu -->
                <nav class="main-menu">
                    <!--Keep This Empty / Menu will come through Javascript-->
                </nav>
                <!-- Main Menu End-->

                <!-- Main Menu End-->
                <div class="outer-box clearfix"></div>
            </div>
        </div>
    </div>
    <!-- End Sticky Menu -->

    <!-- Mobile Menu  -->
    <div class="mobile-menu">
        <div class="menu-backdrop"></div>
        <div class="close-btn"><span class="icon flaticon-multiply"></span></div>

        <nav class="menu-box">
            <div class="nav-logo">
                <a href="index-1.html"><img src="/images/logo.png" alt="" title="" /></a>
            </div>
            <div class="menu-outer">
                <!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->
            </div>
        </nav>
    </div>
    <!-- End Mobile Menu -->
</header>

<!--前端底部-->
<footer class="main-footer" th:fragment="indexfooter">
    <div class="circle-layer"></div>
    <div
            class="pattern-layer-one"
            style="background-image: url(/images/background/pattern-12.png)"
    ></div>
    <div
            class="pattern-layer-two"
            style="background-image: url(/images/background/pattern-13.png)"
    ></div>
    <div
            class="pattern-layer-three"
            style="background-image: url(/images/background/pattern-14.png)"
    ></div>
    <div
            class="pattern-layer-four"
            style="background-image: url(/images/background/pattern-13.png)"
    ></div>
    <div class="auto-container">
        <!--Widgets Section-->
        <div class="widgets-section">
            <div class="row clearfix">
                <!-- Footer Column -->
                <div class="footer-column col-lg-5 col-md-12 col-sm-12">
                    <div class="footer-widget logo-widget">
                        <div class="logo">
                            <a href="index.html"
                            ><img src="/images/logo.png" alt=""
                            /></a>
                        </div>
                        <ul class="info-list">
                            <li>
                                Tel:<a href="tel:+0845-371-02-02"> 0845 371 02 02</a>
                            </li>
                            <li>
                                Email:<a
                                    href="/cdn-cgi/l/email-protection#066f686069467f697374756f726328656928736d"
                            >
                                                <span
                                                        class="__cf_email__"
                                                        data-cfemail="620b0c040d221b0d1710110b16074c010d4c1709"
                                                >[email&#160;protected]</span
                                                ></a
                            >
                            </li>
                        </ul>
                        <!-- Social Box -->
                        <ul class="social-box">
                            <li class="twitter">
                                <a
                                        target="_blank"
                                        href="http://twitter.com/"
                                        class="fa fa-twitter"
                                ></a>
                            </li>
                            <li class="pinterest">
                                <a
                                        target="_blank"
                                        href="http://pinterest.com/"
                                        class="fa fa-pinterest-p"
                                ></a>
                            </li>
                            <li class="facebook">
                                <a
                                        target="_blank"
                                        href="http://facebook.com/"
                                        class="fa fa-facebook-f"
                                ></a>
                            </li>
                            <li class="dribbble">
                                <a
                                        target="_blank"
                                        href="http://dribbble.com/"
                                        class="fa fa-dribbble"
                                ></a>
                            </li>
                        </ul>
                        <div class="text">
                            Get started now and take advantage of <br/>
                            our 30 day free trial today.
                        </div>
                    </div>
                </div>

                <!-- Footer Column -->
                <div class="footer-column col-lg-7 col-md-12 col-sm-12">
                    <div class="row clearfix">
                        <!-- Column -->
                        <div class="column col-lg-4 col-md-4 col-sm-12">
                            <h5>About</h5>
                            <ul class="list">
                                <li><a href="#">About</a></li>
                                <li><a href="#">News</a></li>
                                <li><a href="#">Impact</a></li>
                                <li><a href="#">Our team</a></li>
                                <li><a href="#">Our interns</a></li>
                            </ul>
                        </div>
                        <!-- Column -->
                        <div class="column col-lg-4 col-md-4 col-sm-12">
                            <h5>Need some help?</h5>
                            <ul class="list">
                                <li><a href="#">FAQs</a></li>
                                <li><a href="#">Child safety</a></li>
                                <li><a href="#">Help Centre</a></li>
                                <li><a href="#">Contact</a></li>
                                <li><a href="#">Academy</a></li>
                            </ul>
                        </div>
                        <!-- Column -->
                        <div class="column col-lg-4 col-md-4 col-sm-12">
                            <h5>Courses</h5>
                            <ul class="list">
                                <li><a href="#">Khan Kids app</a></li>
                                <li><a href="#">Science & engineering</a></li>
                                <li><a href="#">Computing</a></li>
                                <li><a href="#">Arts & humanities</a></li>
                                <li><a href="#">Economics & finance</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Lower Box -->
        <div class="lower-box">
            <div class="row clearfix">
                <div class="col-lg-6 col-lg-6 col-sm-12">
                    <!-- Subscribe Form -->
                    <div class="subscribe-form">
                        <h6>Newsletter</h6>
                        <form method="post" action="contact.html">
                            <div class="form-group">
                                <input
                                        type="email"
                                        name="email"
                                        value=""
                                        placeholder="Your email"
                                        required
                                />
                                <button type="submit" class="submit-btn">
                                    <span class="icon flaticon-right-arrow-2"></span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-6 col-lg-6 col-sm-12">
                    <div class="text">
                        Need to train your team? We offer flexible, cost-effective
                        <br/>
                        group memberships for your business, school,
                    </div>
                    <a href="#" class="singup">Free Singup</a>
                </div>
            </div>
        </div>

        <!-- Footer Bottom -->
        <div class="footer-bottom">
            <div class="row clearfix">
                <!-- Copyright Column -->
                <div class="copyright-column col-lg-6 col-md-12 col-sm-12">
                    <div class="copyright">
                        Copyright 2020, All Right By
                        <a href="http://www.bootstrapmb.com/">bootstrapmb</a>
                    </div>
                </div>

                <!-- Nav Column -->
                <div class="nav-column col-lg-6 col-md-12 col-sm-12">
                    <ul>
                        <li><a href="about.html">SiteMap</a></li>
                        <li><a href="about.html">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

</body>
</html>