<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>team01</title>
</head>
<body>

<!-- 后端侧边栏-->
<div class="dlabnav" th:fragment="mymenu">
    <div class="dlabnav-scroll">
        <ul class="metismenu" id="menu">
            <li class="nav-label first">主菜单</li>
            <li><a class="ai-icon" href="/back/index" aria-expanded="false">
                <i class="la la-home"></i>
                <span class="nav-text">主页面</span>
            </a>
            </li>
            <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="la la-users"></i>
                    <span class="nav-text">用户</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="/back/alluser">所有用户</a></li>
                    <li><a href="/back/adduser">添加用户</a></li>
                    <li><a href="/back/aboutuser">用户个人中心</a></li>
                </ul>
            </li>
            <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="la la-graduation-cap"></i>
                    <span class="nav-text">试题资料</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="/back/courses">高考真题</a></li>
                    <li><a href="/back/backIssue">模拟试题</a></li>
                    <li><a href="/back/department">高考资讯</a></li>
                </ul>
            </li>
            <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="la la-book"></i>
                    <span class="nav-text">资料</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="/back/library">所有资料</a></li>
                    <li><a href="/back/addlibrary">添加资料</a></li>
                    <li><a href="/back/editlibrary">Edit Library</a></li>
                </ul>
            </li>
            <li class="nav-label">Apps</li>
            <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="la la-users"></i>
                    <span class="nav-text">Apps</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="./app-profile.html">Profile</a></li>
                    <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">Email</a>
                        <ul aria-expanded="false">
                            <li><a href="./email-compose.html">Compose</a></li>
                            <li><a href="./email-inbox.html">Inbox</a></li>
                            <li><a href="./email-read.html">Read</a></li>
                        </ul>
                    </li>
                    <li><a href="./app-calender.html">Calendar</a></li>
                    <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">Shop</a>
                        <ul aria-expanded="false">
                            <li><a href="./ecom-product-grid.html">Product Grid</a></li>
                            <li><a href="./ecom-product-list.html">Product List</a></li>
                            <li><a href="./ecom-product-detail.html">Product Details</a></li>
                            <li><a href="./ecom-product-order.html">Order</a></li>
                            <li><a href="./ecom-checkout.html">Checkout</a></li>
                            <li><a href="./ecom-invoice.html">Invoice</a></li>
                            <li><a href="./ecom-customers.html">Customers</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                    <i class="la la-signal"></i>
                    <span class="nav-text">Charts</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="./chart-flot.html">Flot</a></li>
                    <li><a href="./chart-morris.html">Morris</a></li>
                    <li><a href="./chart-chartjs.html">Chartjs</a></li>
                    <li><a href="./chart-chartist.html">Chartist</a></li>
                    <li><a href="./chart-sparkline.html">Sparkline</a></li>
                    <li><a href="./chart-peity.html">Peity</a></li>
                </ul>
            </li>
            <li class="nav-label">Components</li>
            <li class="mega-menu mega-menu-xl"><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                    <i class="la la-globe"></i>
                    <span class="nav-text">Bootstrap</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="./ui-accordion.html">Accordion</a></li>
                    <li><a href="./ui-alert.html">Alert</a></li>
                    <li><a href="./ui-badge.html">Badge</a></li>
                    <li><a href="./ui-button.html">Button</a></li>
                    <li><a href="./ui-modal.html">Modal</a></li>
                    <li><a href="./ui-button-group.html">Button Group</a></li>
                    <li><a href="./ui-list-group.html">List Group</a></li>
                    <li><a href="./ui-media-object.html">Media Object</a></li>
                    <li><a href="./ui-card.html">Cards</a></li>
                    <li><a href="./ui-carousel.html">Carousel</a></li>
                    <li><a href="./ui-dropdown.html">Dropdown</a></li>
                    <li><a href="./ui-popover.html">Popover</a></li>
                    <li><a href="./ui-progressbar.html">Progressbar</a></li>
                    <li><a href="./ui-tab.html">Tab</a></li>
                    <li><a href="./ui-typography.html">Typography</a></li>
                    <li><a href="./ui-pagination.html">Pagination</a></li>
                    <li><a href="./ui-grid.html">Grid</a></li>
                </ul>
            </li>
            <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="la la-plus-square-o"></i>
                    <span class="nav-text">Plugins</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="./uc-select2.html">Select 2</a></li>
                    <li><a href="./uc-nestable.html">Nestedable</a></li>
                    <li><a href="./uc-noui-slider.html">Noui Slider</a></li>
                    <li><a href="./uc-sweetalert.html">Sweet Alert</a></li>
                    <li><a href="./uc-toastr.html">Toastr</a></li>
                    <li><a href="./map-jqvmap.html">Jqv Map</a></li>
                </ul>
            </li>
            <li><a href="widget-basic.html" aria-expanded="false">
                    <i class="la la-desktop"></i>
                    <span class="nav-text">Widget</span>
                </a></li>
        </ul>
    </div>
</div>

<!-- 后端侧边栏头部-->
<div class="nav-header" th:fragment="navHeader">
    <a href="/back/index" class="brand-logo">
        <img class="logo-abbr" src="/back/images/logo-white.png" alt="">
        <img class="logo-compact" src="/back/images/logo-text-white.png" alt="">
        <img class="brand-title" src="/back/images/logo-text-white.png" alt="">
    </a>

    <div class="nav-control">
        <div class="hamburger">
            <span class="line"></span><span class="line"></span><span class="line"></span>
        </div>
    </div>
</div>

<!--后端头部-->

<div class="header" th:fragment="myheader">
    <div class="header-content">
        <nav class="navbar navbar-expand">
            <div class="collapse navbar-collapse justify-content-between">
                <div class="header-left">
                    <div class="search_bar dropdown">
                                <span class="search_icon p-3 c-pointer" data-toggle="dropdown">
                                    <i class="mdi mdi-magnify"></i>
                                </span>
                        <div class="dropdown-menu p-0 m-0">
                            <form>
                                <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                            </form>
                        </div>
                    </div>
                </div>

                <ul class="navbar-nav header-right">
                    <li class="nav-item dropdown notification_dropdown">
                        <a class="nav-link bell ai-icon" href="#" role="button" data-toggle="dropdown">
                            <svg id="icon-user" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bell">
                                <path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9"></path>
                                <path d="M13.73 21a2 2 0 0 1-3.46 0"></path>
                            </svg>
                            <div class="pulse-css"></div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right"></div>
                    </li>
                    <li class="nav-item dropdown header-profile">
                        <a class="nav-link" href="#" role="button" data-toggle="dropdown">
                            <img src="/back/images/profile/education/pic1.jpg" width="20" alt=""/>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a href="/main/index" class="dropdown-item ai-icon">
                                <svg id="icon-user1" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                                <span class="ml-2">前端 </span>
                            </a>
                            <a href="/user/login" class="dropdown-item ai-icon">
                                <svg id="icon-logout" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-log-out"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path><polyline points="16 17 21 12 16 7"></polyline><line x1="21" y1="12" x2="9" y2="12"></line></svg>
                                <span class="ml-2">退出 </span>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>

<!--后端底部-->
<div class="footer" th:fragment="backfooter">
    <div class="copyright">
        <p>Copyright © Designed &amp; Developed by <a href="http://www.bootstrapmb.com/" target="_blank">team01</a> 2020</p>
    </div>
</div>

<!--前端头部-->
<header class="main-header" th:fragment="indexmenu">
    <!--Header-Upper-->
    <div class="header-upper">
        <div class="outer-container clearfix">
            <div class="pull-left logo-box">
                <div class="logo">
                    <a href="/main/index"
                    ><img src="/images/logo.png" alt="" title=""
                    /></a>
                </div>
            </div>

            <div class="nav-outer clearfix">
                <!--Mobile Navigation Toggler-->
                <div class="mobile-nav-toggler">
                    <span class="icon flaticon-menu"></span>
                </div>
                <!-- Main Menu -->
                <nav class="main-menu navbar-expand-md">
                    <div class="navbar-header">
                        <!-- Toggle Button -->
                        <button
                                class="navbar-toggler"
                                type="button"
                                data-toggle="collapse"
                                data-target="#navbarSupportedContent"
                                aria-controls="navbarSupportedContent"
                                aria-expanded="false"
                                aria-label="Toggle navigation"
                        >
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>

                    <div
                            class="navbar-collapse collapse clearfix"
                            id="navbarSupportedContent"
                    >
                        <ul class="navigation clearfix">
                            <li class="dropdown has-mega-menu">
                                <a href="/zjgk/subject"
                                ><span
                                >直击高考 <i class="fa fa-arrow-down"></i></span
                                ></a>
                                <div class="mega-menu">
                                    <!-- Upper Box -->
                                    <div class="upper-box">
                                        <div class="page-links-box">
                                            <!-- 更改直击高考栏目跳转页面  这里不写页面名称 写虚拟路径-->
                                            <a href="/zjgk/subject" class="link"
                                            ><span
                                                    class="icon flaticon-bullhorn"
                                            ></span
                                            >全国一卷</a
                                            >
                                            <a href="/zjgk/subject" class="link"
                                            ><span
                                                    class="icon flaticon-cyclist"
                                            ></span
                                            >全国二卷</a
                                            >
                                            <a href="/zjgk/subject" class="link"
                                            ><span
                                                    class="icon flaticon-bar-chart"
                                            ></span
                                            >全国三卷</a
                                            >
                                            <a href="/zjgk/subject" class="link"
                                            ><span
                                                    class="icon flaticon-software"
                                            ></span
                                            >北京卷</a
                                            >
                                            <a href="/zjgk/subject" class="link"
                                            ><span class="icon flaticon-atom"></span
                                            >天津卷</a
                                            >
                                            <a href="/zjgk/subject" class="link"
                                            ><span
                                                    class="icon flaticon-webpage"
                                            ></span
                                            >上海卷</a
                                            >
                                            <a href="/zjgk/subject" class="link"
                                            ><span
                                                    class="icon flaticon-language"
                                            ></span
                                            >浙江卷</a
                                            >
                                            <a href="/zjgk/subject" class="link"
                                            ><span class="icon flaticon-team"></span
                                            >山东卷</a
                                            >
                                            <a href="/zjgk/subject" class="link"
                                            ><span class="icon flaticon-team"></span
                                            >江苏卷</a
                                            >
                                            <a href="/zjgk/subject" class="link"
                                            ><span
                                                    class="icon flaticon-healthcare"
                                            ></span
                                            >海南卷</a
                                            >
                                        </div>
                                    </div>
                                    <!-- Lower Box -->
                                    <div class="lower-box">
                                        <h3>高考学霸直通车</h3>
                                        <div class="text">
                                            高考是人生中关键的转折点！ <br />
                                            高考学霸直通车为高考助力，为大家保驾护航！
                                        </div>
                                        <div class="btn-box">
                                            <a href="/zjgk/subject" class="theme-btn btn-style-five"
                                            >每日一问：今天你学习了吗？</a
                                            >
                                        </div>
                                        <div class="side-icon">
                                            <img
                                                    src="/images/resource/mega-menu-icon.png"
                                                    alt=""
                                            />
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="current dropdown">
                                <a href="/main/index">主页</a>
                            </li>
                            <li class="dropdown">
                                <a href="/issue/main">掌上刷题</a>
                                <ul>
                                    <li><a href="/issue/main">语文</a></li>
                                    <li><a href="/issue/main">数学</a></li>
                                    <li><a href="/issue/main">英语</a></li>
                                    <li><a href="/issue/main">物理</a></li>
                                    <li><a href="/issue/main">化学</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="/ziliaozongjie/yuwen">资料总结</a>
                                <ul>
                                    <li><a href="/ziliaozongjie/yuwen">语文</a></li>
                                    <li><a href="/ziliaozongjie/yingyu">英语</a></li>
                                    <li><a href="/ziliaozongjie/shuxue">数学</a></li>
                                    <li><a href="/ziliaozongjie/wuli">物理</a></li>
                                    <li><a href="/ziliaozongjie/huaxue">化学</a></li>
<!--                                    <li>-->
<!--                                        <a href="course-detail.html">课程内容详细页</a>-->
<!--                                    </li>-->
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="/gaokaozixun/zixunall">高考资讯</a>
                                <ul>
                                    <li><a href="/gaokaozixun/zixunall">高考总资讯</a></li>
                                    <li><a href="/gaokaozixun/zixunlist/?type=高考分数线">高考分数线</a></li>
                                    <li><a href="/gaokaozixun/zixunlist/?type=高考高考状元">高考高考状元</a></li>
                                    <li><a href="/gaokaozixun/zixunlist/?type=高考大纲">高考大纲</a></li>
                                    <li><a href="/gaokaozixun/zixunlist/?type=高考时间">高考时间</a></li>
                                    <li><a href="/gaokaozixun/zixunlist/?type=高考新闻">高考新闻</a></li>
                                    <li><a href="/gaokaozixun/zixunlist/?type=成绩查询">成绩查询</a></li>
                                    <li><a href="/gaokaozixun/zixunlist/?type=录取查询">录取查询</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="/chart/show">思维导图</a>
                                <ul>
                                    <li><a href="/chart/show">数学必修一、二</a></li>
                                    <li><a href="/chart/showHX1">化学必修一、二</a></li>
                                    <li><a href="/chart/owWuli">物理必修一、二</a></li>
                                    <li><a href="/chart/showPie">饼图</a></li>
                                    <li><a href="/chart/showBar">柱形图</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>

                <!-- Main Menu End-->
                <div class="outer-box clearfix">
                    <!-- Search -->
                    <div class="search-box">
                        <form method="post" action="contact.html">
                            <div class="form-group">
                                <input
                                        type="search"
                                        name="search-field"
                                        value=""
                                        placeholder="在此搜索..."
                                        required
                                />
                                <button type="submit">
                                    <span class="icon fa fa-search"></span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End Header Upper-->

    <!-- Sticky Header  -->
    <div class="sticky-header">
        <div class="auto-container clearfix">
            <!--Logo-->
            <div class="logo pull-left">
                <a href="/main/index" title=""
                ><img src="/images/logo.png" alt="" title=""
                /></a>
            </div>
            <!--Right Col-->
            <div class="pull-right">
                <!-- Main Menu -->
                <nav class="main-menu">
                    <!--Keep This Empty / Menu will come through Javascript-->
                </nav>
                <!-- Main Menu End-->

                <!-- Main Menu End-->
                <div class="outer-box clearfix"></div>
            </div>
        </div>
    </div>
    <!-- End Sticky Menu -->

    <!-- Mobile Menu  -->
    <div class="mobile-menu">
        <div class="menu-backdrop"></div>
        <div class="close-btn"><span class="icon flaticon-multiply"></span></div>

        <nav class="menu-box">
            <div class="nav-logo">
                <a href="/main/index"><img src="/images/logo.png" alt="" title="" /></a>
            </div>
            <div class="menu-outer">
                <!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->
            </div>
        </nav>
    </div>
    <!-- End Mobile Menu -->
</header>

<!--前端底部-->
<footer class="main-footer" th:fragment="indexfooter">
    <div class="circle-layer"></div>
    <div
            class="pattern-layer-one"
            style="background-image: url(/images/background/pattern-12.png)"
    ></div>
    <div
            class="pattern-layer-two"
            style="background-image: url(/images/background/pattern-13.png)"
    ></div>
    <div
            class="pattern-layer-three"
            style="background-image: url(/images/background/pattern-14.png)"
    ></div>
    <div
            class="pattern-layer-four"
            style="background-image: url(/images/background/pattern-13.png)"
    ></div>
    <div class="auto-container">
        <!--Widgets Section-->
        <div class="widgets-section">
            <div class="row clearfix">
                <!-- Footer Column -->
                <div class="footer-column col-lg-5 col-md-12 col-sm-12">
                    <div class="footer-widget logo-widget">
                        <div class="logo">
                            <a href="/main/index"
                            ><img src="/images/logo.png" alt=""
                            /></a>
                        </div>
                        <ul class="info-list">
                            <li>
                                Tel:<a href="tel:+0845-371-02-02"> 123 456 789</a>
                            </li>
                            <li>
                                Email:<a href="/cdn-cgi/l/email-protection#066f686069467f697374756f726328656928736d">
                                <span class="__cf_email__" data-cfemail="620b0c040d221b0d1710110b16074c010d4c1709">
                                    123456789@qq.com
                                </span></a>
                            </li>
                        </ul>
                        <!-- Social Box -->
                        <ul class="social-box">
                            <li class="twitter">
                                <a
                                        target="_blank"
                                        href="http://twitter.com/"
                                        class="fa fa-twitter"
                                ></a>
                            </li>
                            <li class="pinterest">
                                <a
                                        target="_blank"
                                        href="http://pinterest.com/"
                                        class="fa fa-pinterest-p"
                                ></a>
                            </li>
                            <li class="facebook">
                                <a
                                        target="_blank"
                                        href="http://facebook.com/"
                                        class="fa fa-facebook-f"
                                ></a>
                            </li>
                            <li class="dribbble">
                                <a
                                        target="_blank"
                                        href="http://dribbble.com/"
                                        class="fa fa-dribbble"
                                ></a>
                            </li>
                        </ul>
                        <div class="text">
                            线上高中资源平台 <br/>
                            请开始你们努力的每一天吧！
                        </div>
                    </div>
                </div>

                <!-- Footer Column -->
                <div class="footer-column col-lg-7 col-md-12 col-sm-12">
                    <div class="row clearfix">
                        <!-- Column -->
                        <div class="column col-lg-4 col-md-4 col-sm-12">
                            <h5>高考全国卷?</h5>
                            <ul class="list">
                                <li><a href="/zjgk/subject/">全国一卷</a></li>
                                <li><a href="/zjgk/subject/">全国二卷</a></li>
                                <li><a href="/zjgk/subject/">全国三卷</a></li>
                            </ul>
                        </div>
                        <!-- Column -->
                        <div class="column col-lg-4 col-md-4 col-sm-12">
                            <h5>详细资料?</h5>
                            <ul class="list">
                                <li><a href="/ziliaozongjie/yuwen">语文</a></li>
                                <li><a href="/ziliaozongjie/yingyu">英语</a></li>
                                <li><a href="/ziliaozongjie/shuxue">数学</a></li>
                                <li><a href="/ziliaozongjie/wuli">物理</a></li>
                                <li><a href="/ziliaozongjie/huaxue">化学</a></li>
                            </ul>
                        </div>
                        <!-- Column -->
                        <div class="column col-lg-4 col-md-4 col-sm-12">
                            <h5>高考资讯?</h5>
                            <ul class="list">
                                <li><a href="/gaokaozixun/zixunall">高考政策</a></li>
                                <li><a href="/gaokaozixun/zixunall">高考分数线</a></li>
                                <li><a href="/gaokaozixun/zixunall">高考高考状元</a></li>
                                <li><a href="/gaokaozixun/zixunall">高考大纲</a></li>
                                <li><a href="/gaokaozixun/zixunall">高考时间</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Lower Box -->
        <div class="lower-box">
            <div class="row clearfix">
                <div class="col-lg-6 col-lg-6 col-sm-12">
                    <!-- Subscribe Form -->
                    <div class="subscribe-form">
                        <h6>您的意见或建议</h6>
                        <form method="post" action="contact.html">
                            <div class="form-group">
                                <input
                                        type="email"
                                        name="email"
                                        value=""
                                        placeholder="邮箱地址: "
                                        required
                                />
                                <button type="submit" class="submit-btn">
                                    <span class="icon flaticon-right-arrow-2"></span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-6 col-lg-6 col-sm-12">
                    <div class="text">
                        题目和资料的数量不够? 小意思
                        <br/>
                        我们后续会推出更多试题和资讯，敬请期待...
                    </div>
                    <a href="/main/index" class="singup">返回首页</a>
                </div>
            </div>
        </div>

        <!-- Footer Bottom -->
        <div class="footer-bottom">
            <div class="row clearfix">
                <!-- Copyright Column -->
                <div class="copyright-column col-lg-6 col-md-12 col-sm-12">
                    <div class="copyright">
                        Copyright 2020, All Right By
                        <a href="/main/index">team01</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

</body>
</html>