
<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>社会职位网</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon.png">
    <link href="/css/style2.css" rel="stylesheet">
    <style>
        body{background:url(/img/zx.jpg) top left;
            background-size:100%;}
    </style>
</head>

<body class="h-100">
    <div class="authincation h-100">
        <div class="container h-100">
            <div class="row justify-content-center h-100 align-items-center">
                <div class="col-md-5">
                    <div class="form-input-content text-center error-page">
<!--                        <h1 class="error-text font-weight-bold">404</h1>-->
                        <h4><i class="fa fa-exclamation-triangle text-warning"></i> 登录失败!</h4>
<!--                        <p>You may have mistyped the address or the page may have moved.</p>-->
						<br>
                        <div>
                            <a class="btn btn-success" href="/main/login">返回登录</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>