<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Edumin - Bootstrap Admin Dashboard </title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="./images/favicon.png">
    	<link href="/back/vendor/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
    <link href="/back/css/style.css" rel="stylesheet">

</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->


    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <a href="index.html" class="brand-logo">
                <img class="logo-abbr" src="/back/images/logo-white.png" alt="">
                <img class="logo-compact" src="/back/images/logo-text-white.png" alt="">
                <img class="brand-title" src="/back/images/logo-text-white.png" alt="">
            </a>

            <div class="nav-control">
                <div class="hamburger">
                    <span class="line"></span><span class="line"></span><span class="line"></span>
                </div>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->

        <!--**********************************
            Header start
        ***********************************-->
        <div class="header">
            <div class="header-content">
                <nav class="navbar navbar-expand">
                    <div class="collapse navbar-collapse justify-content-between">
                        <div class="header-left">
                            <div class="search_bar dropdown">
                                <span class="search_icon p-3 c-pointer" data-toggle="dropdown">
                                    <i class="mdi mdi-magnify"></i>
                                </span>
                                <div class="dropdown-menu p-0 m-0">
                                    <form>
                                        <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                                    </form>
                                </div>
                            </div>
                        </div>

                        <ul class="navbar-nav header-right">
                            <li class="nav-item dropdown notification_dropdown">
                                <a class="nav-link bell ai-icon" href="#" role="button" data-toggle="dropdown">
                                    <svg id="icon-user" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bell">
										<path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9"></path>
										<path d="M13.73 21a2 2 0 0 1-3.46 0"></path>
									</svg>
                                    <div class="pulse-css"></div>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <ul class="list-unstyled">
                                        <li class="media dropdown-item">
                                            <span class="success"><i class="ti-user"></i></span>
                                            <div class="media-body">
                                                <a href="#">
                                                    <p><strong>Martin</strong> has added a <strong>customer</strong> Successfully
                                                    </p>
                                                </a>
                                            </div>
                                            <span class="notify-time">3:20 am</span>
                                        </li>
                                        <li class="media dropdown-item">
                                            <span class="primary"><i class="ti-shopping-cart"></i></span>
                                            <div class="media-body">
                                                <a href="#">
                                                    <p><strong>Jennifer</strong> purchased Light Dashboard 2.0.</p>
                                                </a>
                                            </div>
                                            <span class="notify-time">3:20 am</span>
                                        </li>
                                        <li class="media dropdown-item">
                                            <span class="danger"><i class="ti-bookmark"></i></span>
                                            <div class="media-body">
                                                <a href="#">
                                                    <p><strong>Robin</strong> marked a <strong>ticket</strong> as unsolved.
                                                    </p>
                                                </a>
                                            </div>
                                            <span class="notify-time">3:20 am</span>
                                        </li>
                                        <li class="media dropdown-item">
                                            <span class="primary"><i class="ti-heart"></i></span>
                                            <div class="media-body">
                                                <a href="#">
                                                    <p><strong>David</strong> purchased Light Dashboard 1.0.</p>
                                                </a>
                                            </div>
                                            <span class="notify-time">3:20 am</span>
                                        </li>
                                        <li class="media dropdown-item">
                                            <span class="success"><i class="ti-image"></i></span>
                                            <div class="media-body">
                                                <a href="#">
                                                    <p><strong> James.</strong> has added a<strong>customer</strong> Successfully
                                                    </p>
                                                </a>
                                            </div>
                                            <span class="notify-time">3:20 am</span>
                                        </li>
                                    </ul>
                                    <a class="all-notification" href="#">See all notifications <i
                                            class="ti-arrow-right"></i></a>
                                </div>
                            </li>
                            <li class="nav-item dropdown header-profile">
                                <a class="nav-link" href="#" role="button" data-toggle="dropdown">
                                    <img src="/back/images/profile/pic1.jpg" width="20" alt=""/>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a href="./app-profile.html" class="dropdown-item ai-icon">
                                        <svg id="icon-user1" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                                        <span class="ml-2">Profile </span>
                                    </a>
                                    <a href="./email-inbox.html" class="dropdown-item ai-icon">
                                        <svg id="icon-inbox" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline></svg>
                                        <span class="ml-2">Inbox </span>
                                    </a>
                                    <a href="./page-login.html" class="dropdown-item ai-icon">
                                        <svg id="icon-logout" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-log-out"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path><polyline points="16 17 21 12 16 7"></polyline><line x1="21" y1="12" x2="9" y2="12"></line></svg>
                                        <span class="ml-2">Logout </span>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
        <div th:replace="menu::mymenu">	</div>
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body btn-page">
            <div class="container-fluid">
                <div class="row page-titles mx-0">
                    <div class="col-sm-6 p-md-0">
                        <div class="welcome-text">
                            <h4>Hi, welcome back!</h4>
                            <span class="ml-1">Buttons</span>
                        </div>
                    </div>
                    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Bootstrap</a></li>
                            <li class="breadcrumb-item active"><a href="javascript:void(0)">Buttons</a></li>
                        </ol>
                    </div>
                </div>
                <!-- row -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header d-block">
                                <h4 class="card-title">Buttons</h4>
                                <p class="mb-0 subtitle">Default button style</p>
                            </div>
                            <div class="card-body">
                                <button type="button" class="btn btn-primary">Primary</button>
                                <button type="button" class="btn btn-secondary">Secondary</button>
                                <button type="button" class="btn btn-success">Success</button>
                                <button type="button" class="btn btn-danger">Danger</button>
                                <button type="button" class="btn btn-warning">Warning</button>
                                <button type="button" class="btn btn-info">Info</button>
                                <button type="button" class="btn btn-light">Light</button>
                                <button type="button" class="btn btn-dark">Dark</button>
                            </div>
                        </div>
					</div>
					<div class="col-lg-12">
                        <div class="card">
                            <div class="card-header d-block">
                                <h4 class="card-title">Outline Buttons</h4>
                                <p class="mb-0 subtitle">Default outline button style</p>
                            </div>
                            <div class="card-body">
                                <button type="button" class="btn btn-outline-primary">Primary</button>
                                <button type="button" class="btn btn-outline-secondary">Secondary</button>
                                <button type="button" class="btn btn-outline-success">Success</button>
                                <button type="button" class="btn btn-outline-danger">Danger</button>
                                <button type="button" class="btn btn-outline-warning">Warning</button>
                                <button type="button" class="btn btn-outline-info">Info</button>
                                <button type="button" class="btn btn-outline-light">Light</button>
                                <button type="button" class="btn btn-outline-dark">Dark</button>
                            </div>
                        </div>
					</div>
					<div class="col-lg-12">
                        <div class="card">
                            <div class="card-header d-block">
                                <h4 class="card-title">Button Sizes</h4>
                                <p class="mb-0 subtitle">add <code>.btn-lg .btn-sm .btn-xs</code> to change the style
                                </p>
                            </div>
                            <div class="card-body">
                                <button type="button" class="btn btn-primary btn-lg">Large Button</button>
                                <button type="button" class="btn btn-primary">Default Button</button>
                                <button type="button" class="btn btn-primary btn-sm">Small Button</button>
                                <button type="button" class="btn btn-primary btn-xs">Extra Small Button</button>
                            </div>
                        </div>
					</div>
					<div class="col-lg-12">
                        <div class="card">
                            <div class="card-header d-block">
                                <h4 class="card-title">Outline Button Sizes</h4>
                                <p class="mb-0 subtitle">add <code>.btn-lg .btn-sm .btn-xs</code> to change the style
                                </p>
                            </div>
                            <div class="card-body">
                                <button type="button" class="btn btn-outline-primary btn-lg">Large button</button>
                                <button type="button" class="btn btn-outline-primary">Default button</button>
                                <button type="button" class="btn btn-outline-primary btn-sm">Small button</button>
                                <button type="button" class="btn btn-outline-primary btn-xs">Extra small button</button>
                            </div>
                        </div>
					</div>
					<div class="col-lg-12">
                        <div class="card">
                            <div class="card-header d-block">
                                <h4 class="card-title">Rounded Buttons</h4>
                                <p class="mb-0 subtitle">add <code>.btn-rounded</code> to change the style</p>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title"></h4>
                                <button type="button" class="btn btn-rounded btn-primary">Primary</button>
                                <button type="button" class="btn btn-rounded btn-secondary">Secondary</button>
                                <button type="button" class="btn btn-rounded btn-success">Success</button>
                                <button type="button" class="btn btn-rounded btn-danger">Danger</button>
                                <button type="button" class="btn btn-rounded btn-warning">Warning</button>
                                <button type="button" class="btn btn-rounded btn-info">Info</button>
                                <button type="button" class="btn btn-rounded btn-light">Light</button>
                                <button type="button" class="btn btn-rounded btn-dark">Dark</button>
                            </div>
                        </div>
					</div>
					<div class="col-lg-12">
                        <div class="card">
                            <div class="card-header d-block">
                                <h4 class="card-title">Rounded outline Buttons</h4>
                                <p class="mb-0 subtitle">add <code>.btn-rounded</code> to change the style</p>
                            </div>
                            <div class="card-body">
                                <div class="rounded-button">
                                    <button type="button" class="btn btn-rounded btn-outline-primary">Primary</button>
                                    <button type="button" class="btn btn-rounded btn-outline-secondary">Secondary</button>
                                    <button type="button" class="btn btn-rounded btn-outline-success">Success</button>
                                    <button type="button" class="btn btn-rounded btn-outline-danger">Danger</button>
                                    <button type="button" class="btn btn-rounded btn-outline-warning">Warning</button>
                                    <button type="button" class="btn btn-rounded btn-outline-info">Info</button>
                                    <button type="button" class="btn btn-rounded btn-outline-light">Light</button>
                                    <button type="button" class="btn btn-rounded btn-outline-dark">Dark</button>
                                </div>
                            </div>
                        </div>
					</div>
					<div class="col-lg-12">
                        <div class="card">
                            <div class="card-header d-block">
                                <h4 class="card-title">Button Right icons</h4>
                                <p class="mb-0 subtitle">add <code>.btn-icon-right</code> to change the style</p>
                            </div>
                            <div class="card-body">
                                <button type="button" class="btn btn-primary">Add to cart <span
                                        class="btn-icon-right"><i class="fa fa-shopping-cart"></i></span>
                                </button>
                                <button type="button" class="btn btn-info">Add to wishlist <span
                                        class="btn-icon-right"><i class="fa fa-heart"></i></span>
                                </button>
                                <button type="button" class="btn btn-danger">Remove <span class="btn-icon-right"><i
                                            class="fa fa-close"></i></span>
                                </button>
                                <button type="button" class="btn btn-secondary">Sent message <span
                                        class="btn-icon-right"><i class="fa fa-envelope"></i></span>
                                </button>
                                <button type="button" class="btn btn-warning">Add bookmark <span
                                        class="btn-icon-right"><i class="fa fa-star"></i></span>
                                </button>
                                <button type="button" class="btn btn-success">Success <span class="btn-icon-right"><i
                                            class="fa fa-check"></i></span>
                                </button>
                            </div>
                        </div>
					</div>
					<div class="col-lg-12">
                        <div class="card">
                            <div class="card-header d-block">
                                <h4 class="card-title">Button Left icons</h4>
                                <p class="mb-0 subtitle">add <code>.btn-icon-left</code> to change the style</p>
                            </div>
                            <div class="card-body">
                                <button type="button" class="btn btn-rounded btn-primary"><span
                                        class="btn-icon-left text-primary"><i class="fa fa-shopping-cart"></i>
                                    </span>Buy</button>
                                <button type="button" class="btn btn-rounded btn-info"><span
                                        class="btn-icon-left text-info"><i class="fa fa-plus color-info"></i>
                                    </span>Add</button>
                                <button type="button" class="btn btn-rounded btn-danger"><span
                                        class="btn-icon-left text-danger"><i class="fa fa-envelope color-danger"></i>
                                    </span>Email</button>
                                <button type="button" class="btn btn-rounded btn-secondary"><span
                                        class="btn-icon-left text-secondary"><i
                                            class="fa fa-share-alt color-secondary"></i> </span>Share</button>
                                <button type="button" class="btn btn-rounded btn-warning"><span
                                        class="btn-icon-left text-warning"><i class="fa fa-download color-warning"></i>
                                    </span>Download</button>
                                <button type="button" class="btn btn-rounded btn-success"><span
                                        class="btn-icon-left text-success"><i class="fa fa-upload color-success"></i>
                                    </span>Upload</button>
                            </div>
                        </div>
					</div>
					<div class="col-lg-12">
                        <div class="card">
                            <div class="card-header d-block">
                                <h4 class="card-title">Square Buttons</h4>
                                <p class="mb-0 subtitle">add <code>.btn-square</code> to change the style</p>
                            </div>
                            <div class="card-body">
                                <button type="button" class="btn  btn-square btn-primary">Primary</button>
                                <button type="button" class="btn  btn-square btn-secondary">Secondary</button>
                                <button type="button" class="btn  btn-square btn-success">Success</button>
                                <button type="button" class="btn  btn-square btn-danger">Danger</button>
                                <button type="button" class="btn  btn-square btn-warning">Warning</button>
                                <button type="button" class="btn  btn-square btn-info">Info</button>
                                <button type="button" class="btn  btn-square btn-light">Light</button>
                                <button type="button" class="btn  btn-square btn-dark">Dark</button>
                            </div>
                        </div>
					</div>
					<div class="col-lg-12">
                        <div class="card">
                            <div class="card-header d-block">
                                <h4 class="card-title">Square Outline Buttons</h4>
                                <p class="mb-0 subtitle">add <code>.btn-square</code> to change the style</p>
                            </div>
                            <div class="card-body">
                                <button type="button" class="btn btn-square btn-outline-primary">Primary</button>
                                <button type="button" class="btn btn-square btn-outline-secondary">Secondary</button>
                                <button type="button" class="btn btn-square btn-outline-success">Success</button>
                                <button type="button" class="btn btn-square btn-outline-danger">Danger</button>
                                <button type="button" class="btn btn-square btn-outline-warning">Warning</button>
                                <button type="button" class="btn btn-square btn-outline-info">Info</button>
                                <button type="button" class="btn btn-square btn-outline-light">Light</button>
                                <button type="button" class="btn btn-square btn-outline-dark">Dark</button>
                            </div>
                        </div>
					</div>
					<div class="col-lg-12">
                        <div class="card">
                            <div class="card-header d-block">
                                <h4 class="card-title">Rounded Button</h4>
                                <p class="mb-0 subtitle">add <code>.btn-rounded</code> to change the style</p>
                            </div>
                            <div class="card-body">
                                <button type="button" class="btn btn-rounded btn-primary">Primary</button>
                                <button type="button" class="btn btn-rounded btn-secondary">Secondary</button>
                                <button type="button" class="btn btn-rounded btn-success">Success</button>
                                <button type="button" class="btn btn-rounded btn-danger">Danger</button>
                                <button type="button" class="btn btn-rounded btn-warning">Warning</button>
                                <button type="button" class="btn btn-rounded btn-info">Info</button>
                                <button type="button" class="btn btn-rounded btn-light">Light</button>
                                <button type="button" class="btn btn-rounded btn-dark">Dark</button>
                            </div>
                        </div>
					</div>
					<div class="col-lg-12">
                        <div class="card">
                            <div class="card-header d-block">
                                <h4 class="card-title">Rounded outline Buttons</h4>
                                <p class="mb-0 subtitle">add <code>.btn-rounded</code> to change the style</p>
                            </div>
                            <div class="card-body">
                                <button type="button" class="btn btn-rounded btn-outline-primary">Primary</button>
                                <button type="button" class="btn btn-rounded btn-outline-secondary">Secondary</button>
                                <button type="button" class="btn btn-rounded btn-outline-success">Success</button>
                                <button type="button" class="btn btn-rounded btn-outline-danger">Danger</button>
                                <button type="button" class="btn btn-rounded btn-outline-warning">Warning</button>
                                <button type="button" class="btn btn-rounded btn-outline-info">Info</button>
                                <button type="button" class="btn btn-rounded btn-outline-light">Light</button>
                                <button type="button" class="btn btn-rounded btn-outline-dark">Dark</button>
                            </div>
                        </div>
					</div>
					<div class="col-lg-12">
                        <div class="card">
                            <div class="card-header d-block">
                                <h4 class="card-title">Dropdown Button</h4>
                                <p class="mb-0 subtitle">Default dropdown button style</p>
                            </div>
                            <div class="card-body">
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Primary</button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="javascript:void()">Dropdown link</a>
                                        <a class="dropdown-item" href="javascript:void()">Dropdown link</a>
                                    </div>
                                </div>
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">Secondary</button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="javascript:void()">Dropdown link</a>
                                        <a class="dropdown-item" href="javascript:void()">Dropdown link</a>
                                    </div>
                                </div>
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">Success</button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="javascript:void()">Dropdown link</a>
                                        <a class="dropdown-item" href="javascript:void()">Dropdown link</a>
                                    </div>
                                </div>
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">Warning</button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="javascript:void()">Dropdown link</a>
                                        <a class="dropdown-item" href="javascript:void()">Dropdown link</a>
                                    </div>
                                </div>
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">Danger</button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="javascript:void()">Dropdown link</a>
                                        <a class="dropdown-item" href="javascript:void()">Dropdown link</a>
                                    </div>
                                </div>
                            </div>
                        </div>
					</div>
					<div class="col-lg-12">
                        <div class="card">
                            <div class="card-header d-block">
                                <h4 class="card-title">Disabled Button</h4>
                                <p class="mb-0 subtitle">add <code>disabled="disabled"</code> to change the style</p>
                            </div>
                            <div class="card-body">
                                <button type="button" class="btn btn-rounded btn-primary" disabled="disabled">Primary</button>
                                <button type="button" class="btn btn-rounded btn-secondary" disabled="disabled">Secondary</button>
                                <button type="button" class="btn btn-rounded btn-success" disabled="disabled">Success</button>
                                <button type="button" class="btn btn-rounded btn-danger" disabled="disabled">Danger</button>
                                <button type="button" class="btn btn-rounded btn-warning" disabled="disabled">Warning</button>
                                <button type="button" class="btn btn-rounded btn-info" disabled="disabled">Info</button>
                            </div>
                        </div>
					</div>
					<div class="col-lg-12">
                        <div class="card">
                            <div class="card-header d-block">
                                <h4 class="card-title">Socia icon Buttons with Name</h4>
                                <p class="mb-0 subtitle">add <code>.btn-facebook, .btn-twitter, .btn-youtube...</code> to change the style</p>
                            </div>
                            <div class="card-body">
                                <button type="button" class="btn btn-facebook">Facebook <span class="btn-icon-right"><i
                                            class="fa fa-facebook"></i></span>
                                </button>
                                <button type="button" class="btn btn-twitter">Twitter <span class="btn-icon-right"><i
                                            class="fa fa-twitter"></i></span>
                                </button>
                                <button type="button" class="btn btn-youtube">Youtube <span class="btn-icon-right"><i
                                            class="fa fa-youtube"></i></span>
                                </button>
                                <button type="button" class="btn btn-instagram">Instagram <span
                                        class="btn-icon-right"><i class="fa fa-instagram"></i></span>
                                </button>
                                <button type="button" class="btn btn-pinterest">Pinterest <span
                                        class="btn-icon-right"><i class="fa fa-pinterest"></i></span>
                                </button>
                                <button type="button" class="btn btn-linkedin">Linkedin <span class="btn-icon-right"><i
                                            class="fa fa-linkedin"></i></span>
                                </button>
                                <button type="button" class="btn btn-google-plus">Google + <span
                                        class="btn-icon-right"><i class="fa fa-google-plus"></i></span>
                                </button>
                                <button type="button" class="btn btn-google">Google <span class="btn-icon-right"><i
                                            class="fa fa-google"></i></span>
                                </button>
                                <button type="button" class="btn btn-snapchat">Snapchat <span class="btn-icon-right"><i
                                            class="fa fa-snapchat"></i></span>
                                </button>
                                <button type="button" class="btn btn-whatsapp">Whatsapp <span class="btn-icon-right"><i
                                            class="fa fa-whatsapp"></i></span>
                                </button>
                                <button type="button" class="btn btn-tumblr">Tumblr <span class="btn-icon-right"><i
                                            class="fa fa-tumblr"></i></span>
                                </button>
                                <button type="button" class="btn btn-reddit">Reddit <span class="btn-icon-right"><i
                                            class="fa fa-reddit"></i></span>
                                </button>
                                <button type="button" class="btn btn-spotify">Spotify <span class="btn-icon-right"><i
                                            class="fa fa-spotify"></i></span>
                                </button>
                                <button type="button" class="btn btn-yahoo">Yahoo <span class="btn-icon-right"><i
                                            class="fa fa-yahoo"></i></span>
                                </button>
                                <button type="button" class="btn btn-dribbble">Dribbble <span class="btn-icon-right"><i
                                            class="fa fa-dribbble"></i></span>
                                </button>
                                <button type="button" class="btn btn-skype">Skype <span class="btn-icon-right"><i
                                            class="fa fa-skype"></i></span>
                                </button>
                                <button type="button" class="btn btn-quora">Quora <span class="btn-icon-right"><i
                                            class="fa fa-quora"></i></span>
                                </button>
                                <button type="button" class="btn btn-vimeo">Vimeo <span class="btn-icon-right"><i
                                            class="fa fa-vimeo"></i></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->


        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
            <div class="copyright">
                <p>Copyright © Designed &amp; Developed by <a href="http://www.bootstrapmb.com/" target="_blank">DexignLab</a> 2020</p>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->

        <!--**********************************
           Support ticket button start
        ***********************************-->

        <!--**********************************
           Support ticket button end
        ***********************************-->

        
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="/back/vendor/global/global.min.js"></script>
	<script src="/back/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="/back/js/custom.min.js"></script>
    <script src="/back/js/dlabnav-init.js"></script>
    



	<!-- Svganimation scripts -->
    <script src="/back/vendor/svganimation/vivus.min.js"></script>
    <script src="/back/vendor/svganimation/svg.animation.js"></script>
    <script src="/back/js/styleSwitcher.js"></script>
</body>

</html>