<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8">
	<meta name="referrer" content="no-referrer" />
	<!--	403错误防盗链解决办法-->
	<title>直击高考</title>
	<!-- Stylesheets -->
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/style.css" rel="stylesheet">
	<link href="/css/responsive.css" rel="stylesheet">

	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

	<link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
	<link rel="icon" href="/images/favicon.png" type="image/x-icon">

	<!-- Responsive -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

	<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
	<!--[if lt IE 9]><script src="/js/respond.js"></script><![endif]-->
</head>

<body class="hidden-bar-wrapper">

<div class="page-wrapper">

	<!-- Preloader -->
	<div class="preloader"></div>

	<!-- 头部-->
	<header class="main-header">
		<div th:replace="menu::indexmenu"></div>
	</header>
	<!-- End Main Header -->
	<!-- Sidebar Cart Item -->
	<div class="xs-sidebar-group info-group">
		<div class="xs-overlay xs-bg-black"></div>
		<div class="xs-sidebar-widget">
			<div class="sidebar-widget-container">
				<div class="widget-heading">
					<a href="#" class="close-side-widget">
						X
					</a>
				</div>
				<div class="sidebar-textwidget">

					<!-- Sidebar Info Content -->
					<div class="sidebar-info-contents">
						<div class="content-inner">
							<div class="logo">
								<a href="index-1.html"><img src="/images/logo-2.png" alt="" /></a>
							</div>
							<div class="content-box">
								<h2>About Us</h2>
								<p class="text">The argument in favor of using filler text goes something like this: If you use real content in the Consulting Process, anytime you reach a review point you’ll end up reviewing and negotiating the content itself and not the design.</p>
								<a href="#" class="theme-btn btn-style-two"><span class="txt">Consultation</span></a>
							</div>
							<div class="contact-info">
								<h2>Contact Info</h2>
								<ul class="list-style-two">
									<li><span class="icon fa fa-location-arrow"></span>Chicago 12, Melborne City, USA</li>
									<li><span class="icon fa fa-phone"></span>(111) 111-111-1111</li>
									<li><span class="icon fa fa-envelope"></span><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="fb979e999a8992bb9c969a9297d5989496">[email&#160;protected]</a></li>
									<li><span class="icon fa fa-clock-o"></span>Week Days: 09.00 to 18.00 Sunday: Closed</li>
								</ul>
							</div>
							<!-- Social Box -->
							<ul class="social-box">
								<li class="facebook"><a href="#" class="fa fa-facebook-f"></a></li>
								<li class="twitter"><a href="#" class="fa fa-twitter"></a></li>
								<li class="linkedin"><a href="#" class="fa fa-linkedin"></a></li>
								<li class="instagram"><a href="#" class="fa fa-instagram"></a></li>
								<li class="youtube"><a href="#" class="fa fa-youtube"></a></li>
							</ul>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	<!-- END sidebar widget item -->

	<!-- Blog Detail Section / Style Two -->
	<section class="blog-page-section style-two">
		<div class="pattern-layer-one" style="background-image: url(images/icons/icon-5.png)"></div>
		<div class="pattern-layer-two" style="background-image: url(images/icons/icon-6.png)"></div>
		<div class="pattern-layer-three" style="background-image: url(images/icons/icon-4.png)"></div>
		<div class="auto-container">
			<!-- Page Breadcrumb -->
			<ul class="page-breadcrumb">
				<li><a href="/main/index">主页</a></li>
				<li>直击高考</li>
			</ul>

		</div>
	</section>
	<!-- End Blog Page Section -->

	<!--Sidebar Page Container-->
	<div class="sidebar-page-container">
		<div class="auto-container">
			<div class="row clearfix">

				<!-- Content Side -->
				<div class="content-side col-lg-9 col-md-12 col-sm-12">
					<div class="blog-classic">

						<!--1 News Block Two -->
						<div class="news-block-two" th:each="DetailList:${DetailList}">
							<div class="content-box" th:each="DetailList:${DetailList}">
								<h2 th:text="${DetailList.title}">2020全国高考卷一语文试题及答案</h2>
								<div class="text">以下图片均来源于网络</div>
							</div>
							<div class="inner-box">
								<div class="image" >
									<img referrer="no-referrer" th:src="${DetailList.address}" alt="" style="height:1200px" />
									<!--									是:$别写错了 而且是th之后的那个名称 这个是自己取的名字 上下保持一致 用. 调用属性值-->
								</div>
							</div>
						</div>


						<!-- Post Share Options -->
						<div class="styled-pagination-two">
							<ul class="clearfix">
								<li><a href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li class="active"><a href="#">3</a></li>
								<li><a href="#">4</a></li>
								<li class="next"><a href="#"><span class="fa fa-angle-right"></span> </a></li>
							</ul>
						</div>

					</div>
				</div>

				<!-- Sidebar Side -->
				<div class="sidebar-side col-lg-3 col-md-12 col-sm-12">
					<aside class="sidebar sticky-top">

						<!-- Search -->
						<div class="sidebar-widget search-box">
							<form method="post" action="contact.html">
								<div class="form-group">
									<input type="search" name="search-field" value="" placeholder="Search" required>
									<button type="submit"><span class="icon fa fa-search"></span></button>
								</div>
							</form>
						</div>


						<!-- Archive Widget -->
<!--						<div class="sidebar-widget archive-widget">-->
<!--							<div class="sidebar-title">-->
<!--								<h4>科目-类型-年份</h4>-->
<!--							</div>-->
<!--							<div class="widget-content">-->
<!--								&lt;!&ndash; 科目Form Group &ndash;&gt;-->
<!--								<div class="form-group">-->
<!--									<select name="country" class="custom-select-box">-->
<!--										<option>语文</option>-->
<!--										<option>数学</option>-->
<!--										<option>英语</option>-->
<!--										<option>物理</option>-->
<!--										<option>化学</option>-->
<!--									</select>-->
<!--								</div>-->
<!--								&lt;!&ndash; 类型Form Group &ndash;&gt;-->
<!--								<div class="form-group">-->
<!--									<select name="country" class="custom-select-box">-->
<!--										<option>全国一卷</option>-->
<!--										<option>全国二卷</option>-->
<!--										<option>全国三卷</option>-->
<!--										<option>北京卷</option>-->
<!--										<option>天津卷</option>-->
<!--										<option>上海卷</option>-->
<!--										<option>浙江卷</option>-->
<!--										<option>山东卷</option>-->
<!--										<option>江苏卷</option>-->
<!--										<option>海南卷</option>-->
<!--									</select>-->
<!--								</div>-->
<!--								&lt;!&ndash; 年份Form Group &ndash;&gt;-->
<!--								<div class="form-group">-->
<!--									<select name="country" class="custom-select-box">-->
<!--										<option>2020</option>-->
<!--										<option>2019</option>-->
<!--										<option>2018</option>-->
<!--									</select>-->
<!--								</div>-->

<!--								<button type="submit" class="btn btn-success btn-sm">查询</button>-->

<!--							</div>-->
<!--						</div>-->
					</aside>
				</div>

			</div>
		</div>
	</div>

	<!-- 底部 -->
	<footer class="main-footer">
		<div th:replace="menu::indexfooter"></div>
	</footer>
</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-arrow-up"></span></div>

<script src="/js/jquery.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="/js/jquery.fancybox.js"></script>
<script src="/js/appear.js"></script>
<script src="/js/parallax.min.js"></script>
<script src="/js/tilt.jquery.min.js"></script>
<script src="/js/jquery.paroller.min.js"></script>
<script src="/js/owl.js"></script>
<script src="/js/wow.js"></script>
<script src="/js/nav-tool.js"></script>
<script src="/js/jquery-ui.js"></script>
<script src="/js/script.js"></script>

</body>
</html>