<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title>掌上刷题</title>
    <!-- Stylesheets -->
    <link href="/css/bootstrap.css" rel="stylesheet"/>
    <link href="/css/style.css" rel="stylesheet"/>
    <link href="/css/responsive.css" rel="stylesheet"/>

    <link
            href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap"
            rel="stylesheet"
    />

    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon"/>
    <link rel="icon" href="/images/favicon.png" type="image/x-icon"/>

    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />

    <!--[if lt IE 9
            ]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script
    ><![endif]-->
    <!--[if lt IE 9]>
    <script src="/js/respond.js"></script><![endif]-->
</head>

<body class="hidden-bar-wrapper">
<div class="page-wrapper">
    <!-- Preloader -->
    <div class="preloader"></div>

    <!-- 头部-->
    <header class="main-header">
        <div th:replace="menu::indexmenu"></div>
    </header>
    <!-- End Main Header -->

    <!-- 大图片 -->
    <section class="banner-section-three style-two">
        <div
                class="pattern-layer-two"
                style="background-image: url(/images/background/pattern-21.png)"
        ></div>
        <div class="auto-container">
            <!-- Page Breadcrumb -->
            <ul class="page-breadcrumb">
                <li><a href="/main/index">主页</a></li>
                <li>掌上刷题</li>
            </ul>
            <div class="row clearfix">
                <!-- Content Column -->
                <div class="content-column col-lg-8 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <div
                                class="pattern-layer-one"
                                style="background-image: url(/images/main-slider/pattern-1.png)"
                        ></div>
                        <div
                                class="icon-layer"
                                style="background-image: url(/images/icons/icon-2.png)"
                        ></div>
                        <div
                                class="icon-layer-two"
                                style="background-image: url(//icons/icon-5.png)"
                        ></div>
                        <h2>
                            书读百遍·其义自见 <br/>
                            一起刷题·培养手感吧！
                        </h2>
                    </div>
                </div>

                <!-- Images Column -->
                <div class="image-column col-lg-4 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <div
                                class="icon-layer-three"
                                style="background-image: url(/images/icons/icon-3.png)"
                        ></div>
                        <div
                                class="icon-layer-four"
                                style="background-image: url(/images/icons/icon-2.png)"
                        ></div>
                        <div
                                class="icon-layer-five"
                                style="background-image: url(/images/icons/icon-4.png)"
                        ></div>
                        <div class="image">
                            <img src="/images/resource/page-title-3.jpg" alt=""/>
                        </div>
                        <div class="image-two">
                            <img src="/images/resource/page-title-4.jpg" alt=""/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Section Three -->

    <!-- 主体内容 -->
    <section class="courses-page-section">
        <div
                class="pattern-layer"
                style="background-image: url(/images/background/pattern-22.png)"
        ></div>
        <div
                class="pattern-layer-two"
                style="background-image: url(/images/background/pattern-6.png)"
        ></div>
        <div
                class="pattern-layer-three"
                style="background-image: url(/images/background/pattern-19.png)"
        ></div>
        <div
                class="pattern-layer-four"
                style="background-image: url(/images/background/pattern-23.png)"
        ></div>
        <div class="auto-container" id="div-issue" >
            <!-- Filter Box -->
            <div class="filter-box">
                <div class="box-inner">
                    <div class="clearfix">
                        <div id="searchBox" class="pull-left clearfix">
                            <div class="dropdown-outer">
                                <div class="filter-dropdown">
                                            <span
                                                    class="icon flaticon-filter-filled-tool-symbol"
                                            ></span>
                                    查询 <span class="arrow fa fa-angle-down"></span>
                                    <!-- Filter Categories -->
                                    <div class="filter-categories">
                                        <div class="clearfix">
                                            <!-- 必修教材 -->
                                            <div class="column">
                                                <h6>必修教材</h6>
                                                <!--Form Group -->
                                                <div class="form-group">
                                                    <div class="select-box" th:each="ChineseBX:${BXJiaocai}">
                                                        <input
                                                                type="radio"
                                                                name="jiaocai-group"
                                                                th:value="${ChineseBX.jiaocaiId}"
                                                                th:id="'BXjiaocai-' + ${ChineseBX.jiaocaiId}"
                                                        />
                                                        <label th:for="'BXjiaocai-' + ${ChineseBX.jiaocaiId}" >
                                                                    <span
                                                                            class="default-check"
                                                                    ></span>
                                                            <a th:text="${ChineseBX.jiaocaiName}">必修一</a>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- 选修教材 -->
                                            <div class="column">
                                                <h6>选修教材</h6>
                                                <!--Form Group -->
                                                <div class="form-group">
                                                    <div class="select-box" th:each="ChineseBX:${XXJiaocai}">
                                                        <input
                                                                type="radio"
                                                                name="jiaocai-group"
                                                                th:value="${ChineseBX.jiaocaiId}"
                                                                th:id="'BXjiaocai-' + ${ChineseBX.jiaocaiId}"
                                                        />
                                                        <label th:for="'BXjiaocai-' + ${ChineseBX.jiaocaiId}">
                                                                    <span
                                                                            class="default-check"
                                                                    ></span>
                                                            <span th:text="${ChineseBX.jiaocaiName}">必修一</span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- 章节 -->
                                            <div class="column">
                                                <h6>章节</h6>
                                                <!-- Form Group -->
                                                <div class="form-group">
                                                    <div class="select-box"  th:each="zhangjieNames:${zhangjieNames}">
                                                        <input
                                                                type="radio"
                                                                name="zhangjie-group"
                                                                th:value="${zhangjieNames.zhangJieId}"
                                                                th:id="'zhangjie-' + ${zhangjieNames.zhangJieId}"
                                                        />
                                                        <label th:for="'zhangjie-' + ${zhangjieNames.zhangJieId}">
                                                                    <span
                                                                            class="default-check"
                                                                    ></span>
                                                            <span th:text="${zhangjieNames.zhangJieName}">章节一</span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <h6>
                                                <button id="clickName" type="button" class="btn btn-success btn-sm">查询</button>
                                            </h6>
                                            <script>
                                                document.getElementById("clickName").onclick = function() {
                                                    let jiaocaiId = $("input[name='jiaocai-group']:checked").val();
                                                    let zhangjieId = $("input[name='zhangjie-group']:checked").val();
                                                    console.log(jiaocaiId);
                                                    console.log(zhangjieId);
                                                    console.log()
                                                    // let url = "/issue/timu/"+jiaocaiId+'/'+zhangjieId;
                                                    // $.get(url);
                                                    window.location.href="/issue/timu/"+jiaocaiId+'/'+zhangjieId;
                                                };
                                            </script>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <script>
                            let  searchBox = document.getElementById("searchBox");
                            let isShow = [[${isShow}]];
                            console.log(isShow);
                            if (isShow){
                                searchBox.style.display="block";
                            }else{
                                searchBox.style.display="none";
                            }
                        </script>

                        <!-- 科目选项 -->
                        <div class="btn-box text-center pull-left">
                            <a th:each="labelName:${kemuName}" th:href="@{'/issue/main/'+${labelName.kemuId}}" th:text="${labelName.kemuName}" class="theme-btn btn-style-five"></a>
                        </div>

                        <div class="pull-right">
                            <div class="total-course">
                                为您查找到 <span th:text="${issueSize}"></span> 条数据！
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 题目主体部分 -->
            <div class="row clearfix">
                <!-- Course Column -->
                <div class="course-block col-lg-12 col-md-12 col-sm-12" th:each="issue:${issue.list}">
                    <div
                            class="inner-box wow fadeInLeft"
                            data-wow-delay="0ms"
                            data-wow-duration="1500ms"

                    >
                        <div class="lower-content">
                            <h6>
                                <a th:href="@{'/issue/details/'+${issue.shitiId}}" th:utext="${issue.shitiTimu}">试题题目</a>
                            </h6>
                            <h6>
                                <div class="uni-name" th:utext="${issue.shitiOption}">试题选项</div>
                            </h6>
                            <div class="rating">
                                <span class="fa fa-star-half-o" aria-hidden="true"></span>
                                难度: <span th:text="${issue.shitiHard}">4 </span>
                            </div>
                            <div class="clearfix">
                                <h6>
                                    <div class="pull-left">
                                        <div class="hovers" th:text="${issue.shitiKaodian}">集合的含义</div>
                                    </div>
                                </h6>
                                <div class="pull-right">
                                    <a th:href="@{'/issue/details/'+${issue.shitiId}}" class="enroll-now">
                                        查看解析
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

<!--             分页部分-->
            <div class="styled-pagination text-center centered">
                <nav aria-label="Page navigation text-center">
                    <ul class="pagination">
                        <li>
                            <a th:href="@{/issue/main(pageIndex=${issue.pageNum-1},pageSize=6)}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <th:block th:each="nav:${issue.navigatepageNums}">
                            <li th:class="${nav==issue.pageNum}?'active':''">
                                <a th:href="@{/issue/main(pageIndex=${nav},pageSize=6)}" th:text="${nav}"></a>
                            </li>
                        </th:block>
                        <li>
                            <a th:href="@{/issue/main(pageIndex=${issue.pageNum+1},pageSize=6)}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </section>
    <!-- End Courses Page Section -->

    <!-- 底部 -->
    <footer class="main-footer">
        <div th:replace="menu::indexfooter"></div>
    </footer>
</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html">
    <span class="fa fa-arrow-up"></span>
</div>

<script src="/js/jquery.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="/js/jquery.fancybox.js"></script>
<script src="/js/appear.js"></script>
<script src="/js/parallax.min.js"></script>
<script src="/js/tilt.jquery.min.js"></script>
<script src="/js/jquery.paroller.min.js"></script>
<script src="/js/owl.js"></script>
<script src="/js/wow.js"></script>
<script src="/js/nav-tool.js"></script>
<script src="/js/jquery-ui.js"></script>
<script src="/js/script.js"></script>
</body>
</html>
