<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
<!--        response.setHeader("X-Frame-Options", "SAMEORIGIN");// 解决IFrame拒绝的问题-->
        <meta charset="utf-8" />
        <title>掌上刷题-详情页</title>
        <!-- Stylesheets -->
        <link href="/css/bootstrap.css" rel="stylesheet" />
        <link href="/css/style.css" rel="stylesheet" />
        <link href="/css/responsive.css" rel="stylesheet" />

        <link
            href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap"
            rel="stylesheet"
        />

        <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon" />
        <link rel="icon" href="/images/favicon.png" type="image/x-icon" />

        <!-- Responsive -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
        />

        <!--[if lt IE 9
            ]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script
        ><![endif]-->
        <!--[if lt IE 9]><script src="/js/respond.js"></script><![endif]-->
    </head>

    <body class="hidden-bar-wrapper">
        <div class="page-wrapper">
            <!-- Preloader -->
            <div class="preloader"></div>

            <!-- 头部-->
            <header class="main-header">
                <div th:replace="menu::indexmenu"></div>
            </header>
            <!-- End Main Header -->


            <!-- 大图片的位置 -->
            <section class="cource-detail-banner-section">
                <div
                    class="pattern-layer-one"
                    style="background-image: url(/images/icons/icon-5.png)"
                ></div>
                <div
                    class="pattern-layer-two"
                    style="background-image: url(/images/icons/icon-6.png)"
                ></div>
                <div
                    class="pattern-layer-three"
                    style="background-image: url(/images/icons/icon-4.png)"
                ></div>
                <div
                    class="pattern-layer-four"
                    style="background-image: url(/images/icons/icon-8.png)"
                ></div>
                <div class="auto-container">
                    <!-- Page Breadcrumb -->
                    <ul class="page-breadcrumb">
                        <li><a href="index.html">Home</a></li>
                        <li>Courses Single</li>
                    </ul>
                    <div class="content-box" th:each="issueDetails:${issueDetails}">
                        <div class="title"> 今天你做题了吗？</div>
                        <h2>题目详情——答疑解惑!</h2>
                        <ul class="course-info">
                            <li>
                                <span class="icon fa fa-clock-o"></span>更新时间 :
                                <span  th:text="${issueDetails.shitiTime}">
                                    November 23,2020
                                </span>
                            </li>
                            <li><span class="icon fa fa-language"></span>
                                <span th:text="${issueDetails.jiaocaiName}">
                                    数学必修
                                </span>
                            </li>
                        </ul>
                        <div class="development" th:text="${issueDetails.shitiType}">选择题</div>
                        <div class="rating">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star-o"></span>
                            <strong th:text="${issueDetails.shitiHard}">4.9</strong>
                        </div>
                        <div class="hovers">持续更新，敬请期待...</div>

                    </div>
                </div>
            </section>
            <!-- End Cource Detail Banner Section -->

            <!-- Course Detail Section -->
            <section class="course-detail-section">
                <div class="auto-container">
                    <div class="row clearfix">
                        <!-- Content Column -->
                        <div class="content-column col-lg-7 col-md-12 col-sm-12" th:each="issueDetails:${issueDetails}">
                            <div class="inner-column">
                                <h5>题目再现</h5>
                                <p th:utext="${issueDetails.shitiTimu}">
                                    There are many variations of passages of Lorem Ipsum available,
                                </p>
                                <p th:utext="${issueDetails.shitiOption}">
                                    If you are going to use a passage of Lorem Ipsum
                                </p>
                                <div class="learn-box">
                                    <h5>答疑解惑</h5>
                                    <ul class="learn-list">
                                        <li th:utext="${issueDetails.shitiDaan}">
                                            JavaScript fundamentals: variables, if/else, operators,
                                            boolean logic, functions, arrays, objects, loops,
                                            strings, etc.
                                        </li>
                                        <li>
                                            <a target="_blank" th:href="${issueDetails.shitiDaanHref}">答案链接</a>
                                        </li>
                                    </ul>
                                </div>
                                <h5>考点总结</h5>
                                <ul class="learn-list-two">
                                    <li th:utext="${issueDetails.shitiKaodian}">
                                        Sed consequat justo non mauris pretium at tempor justo sodales.
                                    </li>
                                </ul>
                                <h5>举一反三</h5>
                                <div class="total-lectures">
                                    同类型练习题向你招手！
                                </div>

                                <!-- 举一反三详情 -->
                                <ul class="accordion-box-two">
                                    <!-- Block -->
                                    <li class="accordion block" th:each="issueRand:${issueRand}">
                                        <div class="acc-btn">
                                            查看题目
                                            <span class="side-text" th:text="${issueRand.shitiHard}">试题难度</span>
                                            <div class="icon fa fa-angle-down"></div>
                                        </div>
                                        <div class="acc-content">
                                            <div class="content">
                                                <ul class="accordion-list">
                                                    <li>
                                                        <a>
                                                            <span class="list-icon fa fa-file-o"></span>
                                                            <span th:utext="${issueRand.shitiTimu}">试题一题目</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a>
                                                            <span class="list-icon fa fa-file-o"></span>
                                                            <span th:utext="${issueRand.shitiOption}">试题一题目</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a>
                                                            <span class="list-icon fa fa-file-word-o"></span>
                                                            <a style="color: #43b97e" target="_blank" th:href="${issueRand.shitiDaanHref}">查看答案</a>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <!-- End Accordion Box -->

                                <!-- 查看更多 -->
                                <div class="read-more">
                                    <a href="/issue/main/">返回试题页</a>
                                </div>

                            </div>
                        </div>

                        <!-- 大图片旁边的盒子 -->
                        <div class="info-column col-lg-5 col-md-12 col-sm-12" th:each="issueDetails:${issueDetails}">
                            <div class="inner-column">
                                <div class="price">答案预览</div>
                                <iframe th:src="${issueDetails.shitiDaanHref}" width="400" height="500"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Course Detail Section -->

            <!-- 底部 -->
            <footer class="main-footer">
                <div th:replace="menu::indexfooter"></div>
            </footer>
        </div>
        <!--End pagewrapper-->

        <!--Scroll to top-->
        <div class="scroll-to-top scroll-to-target" data-target="html">
            <span class="fa fa-arrow-up"></span>
        </div>

        <script src="/js/jquery.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/jquery.mCustomScrollbar.concat.min.js"></script>
        <script src="/js/jquery.fancybox.js"></script>
        <script src="/js/appear.js"></script>
        <script src="/js/parallax.min.js"></script>
        <script src="/js/tilt.jquery.min.js"></script>
        <script src="/js/jquery.paroller.min.js"></script>
        <script src="/js/owl.js"></script>
        <script src="/js/wow.js"></script>
        <script src="/js/nav-tool.js"></script>
        <script src="/js/jquery-ui.js"></script>
        <script src="/js/script.js"></script>
    </body>
</html>
